/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button,
input {
  padding: 0;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

input,
textarea,
button,
select,
label,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-dots {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
}

.slick-dots li {
  display: inline-block;
  padding: 0;
  width: 20px;
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #cc9900;
  transition: ease 0.3s;
}

.slick-dots button {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  background-color: #c8c6c6;
  border: none;
  transition: ease 0.3s;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
  /*margin: 0 -10px;*/
}

.slick-list:focus {
  outline: none;
}

.slick-track {
  display: flex;
  margin: 0 auto;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  outline: none;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: rgba(9, 21, 64, 0.55);
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable='true'] {
  cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

/* Fix IE11 */
.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

/* Caption */
.fancybox-caption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */
.fancybox-loading {
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1);
}

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus::before {
  opacity: .5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Light.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overflowHidden {
  overflow: hidden;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #F8F9FA;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-1104 {
  position: relative;
  max-width: 1134px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.header__top {
  background-color: #2E323A;
  padding-top: 12px;
  padding-bottom: 14px;
}

.header__info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.header__info-item {
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
}

.header__info-item img {
  margin-right: 5px;
}

.header__info-item:last-of-type {
  margin-right: 0;
}

.header__info-text {
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.header__bottom {
  background-color: #fff;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  max-width: 1600px;
  margin: 0 auto;
}

.header__logo {
  display: block;
}

.header__menu-list {
  display: flex;
  margin-left: 63px;
}

.header__menu-item {
  margin-right: 50px;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-item a {
  position: relative;
  font-size: 20px;
  color: #000;
  transition: all .3s;
}

.header__menu-item a:hover {
  color: #BC0022;
}

.header__menu-item a:hover::before {
  width: 110%;
  left: -5%;
}

.current-menu-item a {
  font-weight: 600;
  color: #BC0022;
}

.header__menu-item a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #BC0022;
  bottom: -29px;
  left: -5%;
  transition: all .3s;
}

.header__menu-item.current-menu-item a::before {
  content: "";
  position: absolute;
  width: 110%;
}

.btn-order {
  display: block;
  max-width: 205px;
  width: 100%;
  line-height: 76px;
  background-color: #BC0022;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  transition: all .3s;
  border-top: 2px solid #BC0022;
  border-bottom: 2px solid transparent;
}

.btn-order:hover {
  background-color: #2E323A;
}

.intro {
  padding-top: 79px;
  padding-bottom: 158px;
}

.intro .square-mask {
  position: absolute;
  bottom: -35px;
  left: -20px;
}

.intro .container-1104::before {
  content: "";
  position: absolute;
  background-image: url("../img/intro-dots-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 420px;
  height: 9px;
  bottom: -65px;
  left: 82px;
}

.intro .container-1104::after {
  content: "";
  position: absolute;
  background-image: url("../img/intro-dots-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 420px;
  height: 9px;
  bottom: -32px;
  left: 82px;
}

.square-mask {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #BC0022;
}

.square-mask::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 9px solid transparent;
  border-bottom: 9px solid #F8F9FA;
  border-left: 9px solid #F8F9FA;
}

.intro__slider-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.intro-sl-1 {
  max-width: 567px;
  width: 100%;
}

.intro-sl-2 {
  max-width: 538px;
  width: 100%;
}

.intro__slider-content p {
  font-size: 20px;
  color: #000;
  font-weight: 300;
  line-height: 150%;
  padding-top: 13px;
}

.intro__slider-item {
  display: block;
  transition: all .3s;
}

.intro__slider-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 567px;
  width: 100%;
  height: 528px;
}

.main-title {
  font-size: 40px;
  font-weight: 800;
  color: #000;
  line-height: 100%;
}

.main-title span {
  color: #BC0022;
}

.intro__slider-content {
  width: 100%;
  padding-right: 67px;
  padding-left: 67px;
}

.intro__slider-btn {
  background-color: transparent;
  transition: all .3s;
}

.intro__slider-btn:hover {
  opacity: 0.7;
}

.intro__slider-btns {
  display: flex;
  align-items: center;
  padding-left: 67px;
  padding-top: 85px;
}

.intro__slider-btns .slick-dots {
  order: 2;
  padding-bottom: 0;
  margin-top: -10px;
}

.intro__slider-btn--next {
  order: 3;
}

.intro__slider-btn--prev {
  order: 1;
}

.slick-dots button {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  transition: all .3s;
}

.slick-dots button:hover {
  opacity: 0.7;
}

.slick-dots .slick-active button {
  background-color: #BC0022;
}

.slick-dots li {
  width: 6px;
  height: 6px;
  margin: 0;
  margin-right: 35px;
}

.slick-dots li:first-child {
  margin-left: 35px;
}

.about {
  padding-bottom: 138px;
}

.about .container-1104::before {
  content: "";
  position: absolute;
  background-image: url("../img/about-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 317px;
  height: 391px;
  right: -17px;
  top: 82px;
  z-index: -1;
}

.about__content-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about__content {
  max-width: 666px;
  width: 100%;
  margin-right: 40px;
}

.about__content p {
  padding-top: 29px;
  padding-bottom: 59px;
}
.about-text-slides {
  padding: 30px 0 60px;
}
.about-text-slides p {
  padding: 0;
  margin: auto;
}
.about-text-slides p:first-child {
  margin-top: 0;
}
.about-text-slides p:last-child {
  margin-bottom: 0;
}
.about-text-slide {

}

p {
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  color: #000;
}

.about__numbers {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 4px solid #D8D8D8;
  padding-top: 51px;
}

.about__numbers-indicator {
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #BC0022;
  top: -7px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.about__numbers span {
  display: block;
}

.about__num-title {
  font-size: 60px;
  line-height: 100%;
  font-weight: 600;
  color: #000;
  transition: all 0.25s ease;
}

.about__num-text {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 150%;
  color: #000;
}

.about__num-item {
  cursor: pointer;
  /*max-width: 142px;*/
}
@media (min-width: 1024px) {
    .about__num-item:hover .about__num-title {
      color: #BC0022;
    }
}

.about__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 337px;
  width: 100%;
  height: 412px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.main-title__wrap {
  position: relative;
  padding-bottom: 39px;
  text-align: center;
}

.main-title__wrap::before {
  content: "";
  position: absolute;
  max-width: 631px;
  width: 100%;
  height: 4px;
  background-color: #D8D8D8;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.main-title__wrap::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 7px;
  background-color: #BC0022;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.scheme-work {
  padding-bottom: 110px;
}

.scheme-work .main-title__wrap {
  margin-bottom: 41px;
}

.scheme-work__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -13px;
  margin-right: -13px;
  z-index: -1;
}

.scheme-work__list::before {
  content: "";
  position: absolute;
  background-image: url("../img/sheme-mask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 214px;
  height: 104px;
  left: -19px;
  bottom: -5px;
  z-index: -1;
}

.scheme-work__list::after {
  content: "";
  position: absolute;
  background-image: url("../img/sheme-mask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 214px;
  height: 104px;
  right: -19px;
  top: -31px;
  z-index: -1;
}

.scheme-work__item-wrap {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 26px;
}

.scheme-work__item {
  display: block;
  width: 100%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-top: 45px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.scheme-work__item-text {
  display: block;
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
}

.scheme-work__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  margin-bottom: 25px;
}

.product {
  padding-bottom: 151px;
}

.product .main-title__wrap {
  margin-bottom: 42px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.product__item-wrap {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.product__item {
  position: relative;
  display: block;
  width: 100%;
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  transition: all .3s;
  z-index: 1;
}

.product__item .btn-item {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translate(-50%, 0);
}

.product__item:hover .product__item-title {
  top: 32px;
  transform: translate(-50%, 0%);
}

.product__item:hover .product__item-nav {
  opacity: 1;
  pointer-events: all;
}

.product__item:hover::before {
  opacity: 1;
}

.product__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  left: 0;
  top: 0;
  transition: all .3s;
}

.product__item-title {
  position: absolute;
  font-size: 34px;
  line-height: 100%;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}

.product__item-btn {
  display: block;
}

.btn-item {
  display: block;
  max-width: 324px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(37, 39, 48, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
  line-height: 70px;
  transition: all .3s;
}

.btn-item:hover {
  background-color: #BC0022;
}

.product__item-nav {
  position: absolute;
  text-align: left;
  max-width: 324px;
  width: 100%;
  top: 132px;
  left: 22px;
  height: 388px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  overflow: auto;
}

.product__nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.product__nav-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.product__nav-item a {
  font-size: 22px;
  line-height: 100%;
  font-weight: 700;
  color: #fff;
  transition: all .3s;
}

.product__nav-item a:hover {
  color: #BC0022;
}

.why-we {
  padding-bottom: 75px;
}

.why-we__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-we__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 570px;
  width: 100%;
  margin-right: 35px;
}

.why-we__list::before {
  content: "";
  position: absolute;
  background-image: url("../img/why-we-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 283px;
  height: 168px;
  left: -34px;
  top: -60px;
  z-index: -1;
  pointer-events: none;
}

.why-we__item {
  display: block;
  width: calc(50% - 15px);
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 24px 23px;
}

.why-we__item p {
  font-size: 22px;
  line-height: 27px;
  color: #1A1A1A;
  font-weight: 700;
}

.why-we__item-img {
  display: flex;
  align-items: center;
  min-height: 65px;
}

.why-we__text-content {
  max-width: 467px;
  width: 100%;
}

.why-we__text-content .main-title__wrap {
  text-align: left;
  padding-bottom: 43px;
}

.why-we__text-content .main-title__wrap::after {
  left: 0;
  transform: translate(0, 0);
}

.why-we__text-content p {
  padding-top: 32px;
}

.main-title__description {
  padding-top: 28px;
  max-width: 747px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.delivery {
  padding-bottom: 60px;
}

.delivery__list {
  padding-top: 38px;
}

.delivery__list .product__item {
  height: 370px;
}

.delivery__list .product__item-nav {
  text-align: center;
  top: 92px;
}

.delivery__list .product__item-nav {
  height: 160px;
}

.product__nav-item {
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  color: #fff;
}

.reviews {
  overflow: hidden;
  padding-bottom: 104px;
}

.reviews .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 0;
  bottom: 85px;
}

.reviews .slick-slide .reviews__name {
  opacity: 0;
  transition: all .3s;
}

.reviews .slick-slide p {
  opacity: 0;
  transition: all .3s;
}

.reviews .slick-slide .reviews__item::before {
  opacity: 0;
  transition: all .3s;
}

.reviews .slick-current .reviews__name {
  opacity: 1;
}

.reviews .slick-current p {
  opacity: 1;
}

.reviews .slick-current .reviews__item::before {
  opacity: 1;
}

.reviews__item {
  position: relative;
  display: block;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 90px;
  max-width: 1200px;
  margin: 0 auto;
}

.reviews__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 51px;
  height: 37px;
  top: -11px;
  left: 50%;
  transform: translate(-50%, 0);
}

.reviews__item-wrap {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.reviews__name {
  display: block;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 14px;
}

.partners {
  overflow: hidden;
  padding-bottom: 75px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -34px;
  margin-right: -34px;
}

.partners__item-wrap {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 34px;
  padding-right: 34px;
  align-self: center;
  margin-bottom: 20px;
}

.partners__item {
  max-width: 175px;
  text-align: center;
  margin: 0 auto;
}

.partners__item img {
  margin: 0 auto;
}

.contact-form {
  padding-bottom: 110px;
}

.contact-form__description {
  display: block;
  text-align: center;
  max-width: 883px;
  width: 100%;
  margin: 0 auto;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 36px;
}

.contact-form__description span {
  color: #BC0022;
}

.contact-form__description a {
  color: #BC0022;
}

.main-form {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding: 66px;
}

.main-form::before {
  content: "";
  position: absolute;
  background-image: url("../img/contact-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 283px;
  height: 168px;
  bottom: -31px;
  left: -31px;
  z-index: -1;
  pointer-events: none;
}

.main-form__fields {
  display: flex;
  justify-content: space-between;
}

.main-form__field {
  margin-right: 30px;
  max-width: 470px;
  width: 100%;
  margin-bottom: 30px;
}

.main-form__field:last-of-type {
  margin-right: 0;
}

.main-form__field input {
  width: 100%;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #D8D8D8;
  background-color: #F8F9FA;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  font-weight: 500;
}

.main-form__field input::placeholder {
  color: #C4C4C4;
  opacity: 1;
}

.main-form__field textarea {
  width: 100%;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #D8D8D8;
  background-color: #F8F9FA;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  font-weight: 500;
  resize: none;
  outline: none;
  padding-top: 18px;
}

.main-form__field textarea::placeholder {
  display: flex;
  color: #C4C4C4;
  opacity: 1;
}

.main-form__field--full {
  max-width: none;
}

.main-form__checkbox {
  margin-bottom: 30px;
}

.main-form__checkbox label {
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #000;
  cursor: pointer;
  padding-left: 71px;
}

.main-form__checkbox label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #BC0022;
  left: 0;
  top: -3px;
}

.main-form__checkbox input[type=checkbox]:checked ~ .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  background-image: url("../img/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 17px;
  top: 6px;
  left: 6px;
}

input[type=checkbox] {
  display: block;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.btn-main {
  background-color: #BC0022;
}

.btn-main:hover {
  background-color: #2E323A;
}

.footer__top {
  background-color: #2E323A;
  padding-top: 35px;
  padding-bottom: 26px;
}

.footer__top .header__info {
  margin: 0;
}

.footer__top .header__info-item {
  margin-right: 36px;
}

.footer__top .header__info-item:last-child {
  margin-right: 0;
}

.footer__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-wrap {
  display: flex;
  align-items: flex-start;
}

.footer__logo-wrap p {
  max-width: 197px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}

.footer__logo {
  display: block;
  margin-right: 30px;
}

.footer__bottom {
  background-color: #21242C;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__bottom p {
  position: relative;
  padding-left: 0 !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0 !important;
}

.footer__bottom p:last-of-type {
  margin-bottom: 0;
}

.burger-content {
  display: none;
}

.btn-order-mobile {
  display: none;
}

.reviews__slider-wrap {
  position: relative;
}

.reviews__slider-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(42% - -100px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  top: 50%;
}

.reviews__slider-btn {
  background-color: transparent;
  transition: all .3s;
}

.reviews__slider-btn:hover {
  opacity: 0.7;
}

.inner-title {
  padding-top: 55px;
}

.inner-title__content {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 26px;
  padding-bottom: 24px;
}

.inner-title__title {
  position: relative;
  font-weight: 800;
  font-size: 44px;
  line-height: 100%;
  padding-left: 30px;
}

.about-info {
  padding-top: 79px;
  padding-bottom: 90px;
}

.about-info__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-info__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  height: 438px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 75px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.about-info__img::before {
  content: "";
  position: absolute;
  background-image: url("../img/about-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 317px;
  height: 391px;
  right: -31px;
  top: -31px;
  z-index: -1;
}

.about-info__text {
  max-width: 668px;
  width: 100%;
}

.about-info__text .main-title {
  padding-bottom: 29px;
}

.about-info__text p {
  padding-bottom: 30px;
}

.about-info__text p:last-of-type {
  padding-bottom: 0;
}

.about-benefits {
  padding-bottom: 90px;
}

.items-list {
  position: relative;
  max-width: none;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}

.items-list::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: auto;
  background-image: url("../img/sheme-mask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 214px;
  height: 104px;
  left: -19px;
  bottom: -29px;
  z-index: -1;
}

.items-list::after {
  content: "";
  position: absolute;
  background-image: url("../img/sheme-mask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 214px;
  height: 104px;
  right: -19px;
  top: -31px;
  z-index: -1;
}

.items-list .items-list__item-wrap {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.items-list .why-we__item {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.proposal {
  padding-bottom: 90px;
}

.proposal__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proposal__text {
  max-width: 670px;
  width: 100%;
  margin-right: 35px;
}

.proposal__text .main-title__description {
  padding-bottom: 41px;
}

.main-title__wrap--left {
  text-align: left;
}

.main-title__wrap--left::before {
  width: 100%;
  left: 0;
  transform: translate(0, 0);
}

.main-title__wrap--left::after {
  left: 0;
  transform: translate(0, 0);
}

.main-title__description--left {
  text-align: left;
}

.btn-main--left {
  margin-left: 0;
}

.proposal__img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 400px;
  width: 100%;
  height: 380px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.proposal__img::before {
  content: "";
  position: absolute;
  background-image: url("../img/about-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 317px;
  height: 391px;
  left: -31px;
  bottom: -31px;
  z-index: -1;
}

.main-title__description--full {
  max-width: none;
}

.main-title__wrap--full::before {
  max-width: none;
}

.vacancy {
  padding-bottom: 58px;
}

.vacancy__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;
  margin-left: -15px;
  margin-right: -15px;
}

.vacancy__item-wrap {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.vacancy__item {
  display: block;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 28px;
  padding-bottom: 25px;
  height: 100%;
}

.vacancy__item-title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 8px;
}

.vacancy__item-img {
  min-height: 54px;
  margin-bottom: 9px;
}

.partners-inner {
  padding-bottom: 58px;
}

.search-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-content__form {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.search-content__form .main-form__field {
  margin-bottom: 0 !important;
}

.search-content__form .btn-main {
  position: relative;
  max-width: 175px;
  font-weight: 500;
  font-size: 22px;
  padding-left: 30px;
}

.search-content__form .btn-main::before {
  content: "";
  position: absolute;
  background-image: url("../img/lupa.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 38px;
  transform: translate(0, -50%);
}

.catalog {
  padding-bottom: 33px;
}

.catalog__title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 47px;
  margin-bottom: 33px;
}

.catalog__title .product__item-title {
  text-align: center !important;
  max-width: none !important;
  position: static;
  transform: translate(0, 0);
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
}

.catalog__item-wrap {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.catalog__item {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all .3s;
  border-bottom: 4px solid #fff;
  color: #1A1A1A;
  padding-bottom: 31px;
  height: 100%;
}

.catalog__item:hover {
  border-bottom: 4px solid #BC0022;
}

.catalog__item:hover::before {
  opacity: 1;
}

.catalog__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border: 17px solid transparent;
  border-bottom: 14px solid #BC0022;
  opacity: 0;
  transition: all .3s;
}

.catalog__item-name {
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.catalog__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 190px;
  margin-bottom: 16px;
}

.catalog__item-img img {
  margin: 0 auto;
  max-height: 190px;
}

.single-page {
  padding-top: 61px;
  padding-bottom: 20px;
}

.single-page h5 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  padding-bottom: 8px;
}

.single-page__goods {
  padding-top: 37px;
}

.single-page__goods {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 4px solid #D8D8D8;
  margin-bottom: 26px;
}

.single-page__goods-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 327px;
  margin-right: 35px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.single-page__goods-img img {
  max-height: 270px;
}

.single-page__goods-text {
  max-width: 602px;
  width: 100%;
}

.single-page__goods-text p {
  padding-bottom: 30px;
}

.single-page h4 {
  display: block;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  padding-bottom: 15px;
}

.single-page__content {
  border-bottom: 4px solid #D8D8D8;
  margin-bottom: 40px;
}

.single-page__content ul {
  padding-bottom: 44px;
}

.single-page__content ul li {
  position: relative;
  padding-left: 33px;
  font-weight: 300;
  font-size: 20px;
  line-height: 200%;
}

.single-page__content ul li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #BC0022;
  left: 0;
  top: 15px;
  border-radius: 50%;
}

.single-page__content p {
  padding-bottom: 43px;
}

.single-page__table-wrap {
  margin-top: 5px;
}

.single-page__table-wrap table {
  width: 100%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.single-page__table-wrap table th {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #fff;
  background-color: #2E323A;
  padding-top: 40px;
  padding-bottom: 40px;
}

.single-page__table-wrap table th::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 58px;
  background-color: #BC0022;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.single-page__table-wrap table th:last-child {
  width: 219px;
}

.single-page__table-wrap table th:last-child::before {
  display: none;
}

.single-page__table-wrap table th:nth-child(1) {
  width: 220px;
}

.single-page__table-wrap table th:nth-child(2) {
  width: 194px;
}

.single-page__table-wrap table th:nth-child(3) {
  width: 169px;
}

.single-page__table-wrap table th:nth-child(4) {
  width: 169px;
}

.single-page__table-wrap table th:nth-child(5) {
  width: 194px;
}

.single-page__table-wrap table th:nth-child(6) {
  width: 222px;
}

.single-page__table-wrap table tr {
  background-color: #fff;
}

.single-page__table-wrap table tr:nth-child(even) {
  background-color: #F8F9FA;
}

.single-page__table-wrap table td {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #1A1A1A;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.single-page__table-wrap table td::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #E4E4E4;
  right: 0;
  top: 0;
}

.single-page__table-wrap table td:last-child::before {
  display: none;
}

.service-inner {
  padding-bottom: 40px;
  padding-top: 38px;
}

.service-inner .delivery__list .product__item {
  height: 280px;
}

.service-inner .delivery__list .product__item::before {
  display: none;
}

.service-inner .product__item:hover .product__item-title {
  top: 50%;
  transform: translate(-50%, -50%);
}

.service-inner .product__item-nav {
  position: static;
  transform: translate(0, 0);
}

.service-inner .delivery__list {
  padding-bottom: 36px;
}

.service-inner .single-page__table-wrap {
  margin-top: 40px;
}

.service-inner .single-page__table-wrap table th {
  width: 25%;
  padding-top: 26px;
  padding-bottom: 26px;
}

.service-inner .single-page__table-wrap table td {
  width: 25%;
  padding-top: 41px;
  padding-bottom: 41px;
}

.product__item-service-list {
  background-color: #fff;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 21px;
}

.product__item-service-item {
  font-size: 22px;
  line-height: 250%;
  font-weight: 700;
  color: #1A1A1A;
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
}

.product__item-service-item:last-child {
  border-bottom: none;
}

.service__product-item {
  display: block;
  width: 100%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.schema {
  padding-top: 38px;
  padding-bottom: 34px;
}

.schema__list {
  position: relative;
  padding-top: 39px;
}

.schema__list::before {
  content: "";
  position: absolute;
  background-image: url("../img/schema-mask.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 233px;
  height: 937px;
  top: 104px;
  left: -33px;
}

.schema__item {
  display: flex;
  align-items: center;
  padding-bottom: 56px;
}

.schema__item-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 168px;
  max-width: 168px;
  height: 168px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  margin-right: 70px;
}

.schema__item-title {
  display: block;
  font-size: 26px;
  line-height: 32px;
  color: #000;
  padding-bottom: 15px;
}

.schema-partners {
  padding-bottom: 121px;
}

.schema-partners__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 50px;
}

.schema-partners__list::before {
  content: "";
  position: absolute;
  background-image: url("../img/about-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 317px;
  height: 295px;
  left: -17px;
  bottom: -48px;
  z-index: -1;
}

.schema-partners__list:after {
  content: "";
  position: absolute;
  background-image: url("../img/about-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 317px;
  height: 295px;
  right: -17px;
  top: 6px;
  z-index: -1;
}

.schema-partners__item-wrap {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.schema-partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 55px;
  padding-bottom: 5px;
}

.schema-partners__item-img {
  width: calc(50% - 15px);
  margin: 0 auto;
  margin-bottom: 40px;
}

.schema-partners__item-img img {
  margin: 0 auto;
}

.faq {
  padding-bottom: 75px;
}

.faq__list {
  padding-top: 50px;
}

.faq__item {
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding-left: 69px;
  padding-right: 69px;
  margin-bottom: 25px;
}

.faq__item-title-content {
  position: relative;
  cursor: pointer;
  padding-top: 41px;
  padding-bottom: 37px;
}

.faq__item-title-content::before {
  content: "";
  position: absolute;
  background-image: url("../img/tab-chevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 37px;
  height: 37px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .5s;
}

.faq__item-title-content.active::before {
  transform: translate(0, -50%) rotate(180deg);
}

.faq__item-title {
  position: relative;
  display: block;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  padding-right: 70px;
}

.faq__item-tab {
  display: none;
  border-top: 3px solid #D8D8D8;
}

.faq__item-tab ul {
  padding-top: 33px;
  padding-bottom: 40px;
}

.faq__item-tab ul li {
  position: relative;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  padding-bottom: 25px;
  padding-left: 30px;
}

.faq__item-tab ul li:last-child {
  padding-bottom: 0;
}

.faq__item-tab ul li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #BC0022;
  border-radius: 50%;
  left: 0;
  top: 10px;
}


.main-list li {
  position: relative;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  padding-bottom: 25px;
  padding-left: 30px;
}

.main-list li:last-child {
  padding-bottom: 0;
}

.main-list li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #BC0022;
  border-radius: 50%;
  left: 0;
  top: 10px;
}

.contacts-inner {
  padding-top: 39px;
  padding-bottom: 63px;
}

.contacts-inner__content {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.contacts-inner__map-wrap {
  max-width: 735px;
  width: 100%;
  height: 599px;
}

.contacts-inner__info {
  max-width: 435px;
  width: 100%;
  padding-left: 34px;
  padding-right: 34px;
  background-color: #fff;
  padding-top: 29px;
  padding-bottom: 29px;
}

.contacts-inner__item {
  padding-bottom: 15px;
}

.contacts-inner__item:last-child {
  padding-bottom: 0;
}

.contacts-inner__item p a {
  color: #000;
}

.contacts-inner__title-content {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.contacts-inner__title {
  display: block;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.contacts-inner__item--mail a {
  border-bottom: 1px solid #000;
  font-weight: 400;
}

.contacts-inner__item--mail p {
  padding-bottom: 10px;
}

.contacts-inner__item--mail p:last-child {
  padding-bottom: 0;
}

.contacts-inner__img {
  min-width: 19px;
  margin-right: 11px;
}

.popup {
  display: none;
  max-width: 900px;
  width: 100%;
  padding: 30px;
}

.main-title__wrap {
  margin-bottom: 40px;
}

#map-1 {
  width: 100%;
  height: 100%;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

span.wpcf7-list-item {
  margin-left: 0;
}

span.wpcf7-not-valid-tip {
  padding-top: 5px;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: none;
  color: #f00;
  text-align: center;
}

div.wpcf7-mail-sent-ok {
  border: none;
  color: #398f14;
  text-align: center;
}

.wpcf7-acceptance .wpcf7-list-item-label a{
  color: inherit;
  text-decoration: underline;
}
.wpcf7-acceptance .wpcf7-list-item-label a:hover {
  text-decoration: none;
}

.main-title__wrap--search {
  margin-top: 30px;
  margin-bottom: 35px;
}

.catalog__content--search {
  margin-top: 33px;
}

.search-inner .search-content .container {
  padding-left: 0;
  padding-right: 0;
}

.page-zero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
}

.page-zero__title {
  font-size: 60px;
  font-weight: 700;
}

.page-zero__text {
  font-size: 40px;
}


.text-page-content {
  padding: 75px 0 75px;
}
.text-page-content h1,
.text-page-content h2,
.text-page-content h3,
.text-page-content h4,
.text-page-content h5,
.text-page-content h6 {
  margin: 1em 0;
  line-height: 1.4;
}
.text-page-content p {
  margin: 1em 0;
}



.editor-content {
  padding-bottom: 35px;
}

.editor-content ul {
  margin: 0;
  padding: 0px;
  font-size: 20px;
  text-align: center;
}
.editor-content ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-left: 33px;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 25px;
}
.editor-content ul li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #BC0022;
  left: 8px;
  top: 6px;
  border-radius: 50%;
}


@media (min-width: 1441px) {
  .reviews__slider-btns {
    width: calc(52% - -100px);
  }
}

@media (max-width: 1360px) {
  .header__menu-item {
    margin-right: 40px;
  }
  .header__menu-list {
    margin-left: 10px;
  }
  .reviews__slider-btns {
    width: calc(52% - -100px);
  }
}

@media (max-width: 1260px) {
  .about-info__img::before {
    display: none;
  }
  .items-list::before {
    display: none;
  }
  .items-list::after {
    display: none;
  }
  .proposal__img::before {
    display: none;
  }
  .schema-partners__list::before {
    display: none;
  }
  .schema-partners__list::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .intro .square-mask {
    display: none;
  }
  .about .container-1104::before {
    display: none;
  }
  .scheme-work__list::before {
    display: none;
  }
  .scheme-work__list::after {
    display: none;
  }
  .why-we__list::before {
    display: none;
  }
  .main-form::before {
    display: none;
  }
  .header__info-text {
    font-size: 18px;
  }
  .header__menu-item a {
    font-size: 18px;
  }
  .btn-order {
    font-size: 18px;
    max-width: 190px;
  }
  .intro__slider-btns {
    padding-top: 60px;
  }
  .about__num-title {
    font-size: 52px;
  }
  .about__num-text {
    font-size: 20px;
  }
  .product__item-title {
    font-size: 32px;
  }
  .product {
    padding-bottom: 100px;
  }
  .scheme-work {
    padding-bottom: 90px;
  }
  .reviews__item-wrap {
    margin-right: 7px;
    margin-left: 7px;
  }
  .intro {
    padding-top: 50px;
  }
  .about {
    padding-bottom: 100px;
  }
  .scheme-work__item-text {
    font-size: 20px;
    line-height: 24px;
  }
  .why-we__item p {
    font-size: 20px;
    line-height: 24px;
  }
  .product__item-nav {
    left: 0;
    padding-left: 22px;
    padding-right: 22px;
    max-width: none;
  }
  .contact-form {
    padding-bottom: 90px;
  }
  .product__item-wrap {
    padding-left: 7px;
    padding-right: 7px;
  }
  .product__list {
    margin-left: -7px;
    margin-right: -7px;
  }
  .scheme-work__item-wrap {
    padding-left: 7px;
    padding-right: 7px;
  }
  .scheme-work__list {
    margin-left: -7px;
    margin-right: -7px;
  }
  .inner-title__content {
    padding-top: 16px;
    padding-bottom: 14px;
  }
  .items-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .items-list .items-list__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }
  .vacancy__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }
  .vacancy__list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .items-list {
    margin-left: 0;
  }
  .catalog__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  .catalog__list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .single-page__table-wrap table th {
    font-size: 20px;
  }
  .single-page__table-wrap table td {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .product__item-service-item {
    font-size: 18px;
  }
  .schema__list::before {
    display: none;
  }
  .schema__item-img {
    margin-right: 40px;
  }
  .schema-partners__item-img:nth-child(even) {
    margin-left: 30px;
  }
  .schema-partners__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }
  .schema-partners__list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .reviews__slider-btns {
    width: calc(54% - -100px);
  }
}

@media (max-width: 1140px) {
  .intro-sl-1 {
    max-width: 460px;
  }
  .header__menu-item {
    margin-right: 30px;
  }
  .btn-order {
    max-width: 175px;
  }
  .about__num-title {
    font-size: 48px;
  }
  .header__content {
    padding-left: 15px;
  }
  .product__nav-item a {
    font-size: 19px;
  }
  .product__nav-item {
    font-size: 18px;
  }
  .product__item .btn-item {
    max-width: 278px;
    line-height: 64px;
    font-size: 22px;
  }
  .btn-item {
    line-height: 64px;
    font-size: 22px;
  }
  .main-form__field input {
    height: 64px;
  }
  .footer__logo-wrap p {
    font-size: 16px;
  }
  .footer__logo {
    margin-right: 20px;
  }
  .footer__logo-wrap p {
    max-width: 185px;
  }
  .footer .header__info-text {
    font-size: 16px;
  }
  .intro__slider-img {
    height: 490px;
  }
  .product__item {
    height: 615px;
  }
}

@media (max-width: 1023px) {
  .intro__slider-wrap {
    display: block;
    max-width: 567px;
    width: 100%;
    margin: 0 auto;
  }
  .intro-sl-1 {
    max-width: 567px;
  }
  .intro .container-1104::before {
    display: none;
  }
  .intro .container-1104::after {
    display: none;
  }
  .main-title {
    font-size: 34px;
  }
  .intro-sl-2 {
    max-width: none;
  }
  .intro__slider-content {
    padding-top: 15px;
  }
  .intro__slider-btns {
    padding-left: 0;
    justify-content: center;
    padding-bottom: 19px;
    padding-top: 15px;
  }
  .intro__slider-content p {
    font-size: 18px;
    line-height: 130%;
  }
  p {
    font-size: 18px;
    line-height: 130%;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container-1104 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__content {
    padding: 10px;
  }
  .header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 9999;
    top: 90px;
    right: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: translate(0%, 0%);
    background-color: #fff;
    padding-bottom: 30px;
    -ms-align-items: center;
    align-items: center;
  }
  .header__menu.active {
    transform: translate(-100%, 0%);
    transition: transform 0.4s ease;
  }
  .header__menu a {
    display: inline-block;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 3px solid transparent;
  }
  .header__menu a:hover {
    border-bottom: 3px solid #BC0022;
  }
  .header__menu-item a.active {
    border-bottom: 3px solid #BC0022;
  }
  .header__menu-item a::before {
    display: none;
  }
  .burger-content {
    position: relative;
    display: block;
    width: 32px;
    height: 24px;
  }
  .burger-mob {
    position: relative;
    display: block;
    background: #BC0022;
    width: 32px;
    height: 3px;
    top: 11px;
  }
  .burger-mob.active {
    transform: rotate(-45deg);
    opacity: 1;
    transition: all .3s;
  }
  .burger-mob.active::before {
    transform: rotate(90deg);
    opacity: 0;
  }
  .burger-mob.active::after {
    transform: rotate(90deg);
    opacity: 1;
    transition: all .3s;
    top: 0;
  }
  .burger-mob::before {
    content: "";
    position: absolute;
    background: #BC0022;
    width: 32px;
    height: 3px;
    top: 10px;
    display: block;
  }
  .burger-mob::after {
    content: "";
    position: absolute;
    background: #BC0022;
    width: 32px;
    height: 3px;
    bottom: 10px;
    display: block;
  }
  .header__menu-list {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .header__menu-item {
    margin-right: 0;
    padding-bottom: 34px;
  }
  .btn-order {
    display: none;
  }
  .header__logo {
    max-width: 96px;
    width: 100%;
  }
  .intro {
    padding-top: 15px;
    padding-bottom: 80px;
  }
  .intro__slider-img {
    height: 425px;
  }
  .header__info-text {
    font-size: 16px;
  }
  .header__info-item {
    align-items: center;
  }
  .header__info-item img {
    max-width: 15px;
  }
  .header__top {
    padding: 0;
  }
  .about__img {
    max-width: 300px;
  }
  .about__num-title {
    font-size: 38px;
  }
  .about__num-text {
    font-size: 16px;
    line-height: 120%;
  }
  .about__content {
    margin-right: 30px;
  }
  .scheme-work__item-text {
    font-size: 18px;
    line-height: 22px;
  }
  .why-we__item p {
    font-size: 18px;
    line-height: 22px;
  }
  .product__item-wrap {
    flex: 100%;
    max-width: 100%;
  }
  .product__item {
    max-width: 400px;
    margin: 0 auto;
    height: 200px;
  }
  .product__item .btn-item {
    font-size: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    left: auto;
    right: 30px;
    margin-left: auto;
    transform: translate(0, -50%);
    background-image: url("../img/prod-btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }
  .product__item-nav {
    display: none;
  }
  .product__item-title {
    left: 30px;
    transform: translate(0, -50%);
    font-size: 22px;
    line-height: 100%;
    max-width: 170px;
    width: 100%;
    text-align: left;
  }
  .product__item:hover .product__item-title {
    transform: translate(0, -50%);
    top: 50%;
  }
  .product__item::before {
    display: none;
  }
  .why-we__content {
    flex-direction: column-reverse;
  }
  .why-we__list {
    margin-right: 0;
    margin-top: 15px;
  }
  .delivery__list .product__item {
    height: 200px;
  }
  .reviews__name {
    font-size: 22px;
    line-height: 27px;
  }
  .main-form {
    padding: 33px;
  }
  .footer__top-content {
    flex-direction: column;
  }
  .footer__logo-wrap {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 15px;
    border-bottom: 2px solid #404654;
  }
  .footer__logo-wrap p {
    max-width: none;
    width: auto;
  }
  .footer__top {
    padding-top: 12px;
    padding-bottom: 15px;
  }
  .about__num-item {
    max-width: 90px;
  }
  .about__img img {
    max-width: 100px;
  }
  .contact-form__description {
    font-size: 22px;
    line-height: 28px;
  }
  .about {
    padding-bottom: 80px;
  }
  .scheme-work {
    padding-bottom: 60px;
  }
  .product {
    padding-bottom: 80px;
  }
  .reviews {
    padding-bottom: 80px;
  }
  .contact-form {
    padding-bottom: 45px;
  }
  .btn-order-mobile {
    display: block;
  }
  .header__info-item {
    display: none;
  }
  .header__info-item--tel {
    display: flex;
  }
  .btn-order-mobile {
    line-height: 40px;
  }
  .header__info {
    justify-content: space-between;
    padding-left: 10px;
  }
  .footer__top .header__info {
    padding-left: 0;
  }
  .footer__top .header__info-item {
    display: flex;
  }
  .inner-title__title {
    font-size: 38px;
    padding-left: 15px;
  }
  .inner-title__content {
    padding: 10px;
  }
  .square-mask {
    width: 50px;
    height: 50px;
  }
  .inner-title {
    padding-top: 15px;
  }
  .about-info__img {
    margin-right: 40px;
  }
  .vacancy__item-title {
    font-size: 22px;
  }
  .about-info {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .catalog__item-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  .catalog__item-name {
    font-size: 20px;
    line-height: 26px;
  }
  .search-content__form {
    padding: 10px;
  }
  .single-page__table-wrap {
    overflow: auto;
    margin-left: -10px;
    margin-right: -10px;
  }
  .single-page__table-wrap table {
    width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .single-page {
    padding-top: 15px;
  }
  .single-page__table-wrap table th {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .single-page__table-wrap table th::before {
    height: 40px;
  }
  .single-page__table-wrap table td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .service-inner .product__item-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .service-inner .product__item-title {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: none;
  }
  .service-inner .service-inner .delivery__list {
    margin-left: -5px;
    margin-right: -5px;
  }
  .product__item-service-list {
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product__item-service-item {
    font-size: 15px;
  }
  .service-inner .single-page__table-wrap table th {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .service-inner .single-page__table-wrap table td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .schema__item-title {
    font-size: 22px;
    line-height: 28px;
  }
  .schema__item-img {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
  }
  .schema__item-img img {
    max-width: 45px;
  }
  .schema-partners__item {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 25px;
  }
  .schema-partners__item-img {
    margin-bottom: 16px;
  }
  .faq__item-title {
    font-size: 22px;
    line-height: 28px;
  }
  .faq__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .faq__item-tab ul li {
    font-size: 18px;
  }
  .main-list li {
    font-size: 18px;
  }
  .reviews__slider-btns {
    width: calc(48% - -100px);
  }
  .contacts-inner__content {
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }
  .contacts-inner__map-wrap {
    max-width: none;
  }
  .contacts-inner__info {
    max-width: none;
  }
  .popup {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-order-mobile:hover {
    background-color: #BC0022;
  }
}

@media (max-width: 860px) {
  .scheme-work__list {
    width: 1000px;
  }
  .scheme-work__list-container {
    overflow: scroll;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .scheme-work .container-1104 {
    padding-left: 0;
    padding-right: 0;
  }
  .scheme-work .main-title__wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  .scheme-work__list {
    padding-left: 10px;
    padding-right: 3px;
  }
  .scheme-work .main-title__wrap {
    margin-bottom: 0;
  }
  .scheme-work {
    padding-bottom: 40px;
  }
  .reviews__slider-btns {
    width: calc(64% - -100px);
  }
}

@media (max-width: 760px) {
  .about__content-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__img {
    height: 168px;
    margin-bottom: 25px;
  }
  .about__img img {
    max-width: 68px;
  }
  .about__content {
    margin-right: 0;
  }
  .main-title {
    font-size: 28px;
  }
  .about__content p {
    /*padding-top: 10px;*/
    /*padding-bottom: 37px;*/
  }
  .about-text-slides {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .main-form {
    padding: 15px;
  }
  .main-form__fields {
    flex-direction: column;
  }
  .main-form__field {
    max-width: none;
  }
  .main-form__checkbox label {
    font-size: 16px;
    padding-left: 47px;
  }
  .main-form__checkbox label::before {
    top: -4px;
    width: 30px;
    height: 30px;
  }
  .main-form__checkbox input[type=checkbox]:checked ~ .wpcf7-list-item-label::after {
    top: 3px;
    left: 4px;
  }
  .main-form__field input {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
  }
  .main-form__field textarea {
    font-size: 16px;
    padding-top: 20px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-main {
    line-height: 50px;
    font-size: 16px;
  }
  .btn-order-mobile {
    font-size: 16px;
  }
  .contact-form__description {
    font-size: 16px;
    line-height: 130%;
  }
  p {
    font-size: 16px;
    line-height: 130%;
  }
  .intro__slider-content p {
    font-size: 16px;
    line-height: 130%;
  }
  .intro {
    padding-bottom: 50px;
  }
  .about__numbers {
    padding-top: 26px;
  }
  .about__num-title {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .about {
    padding-bottom: 45px;
  }
  .scheme-work__item-text {
    font-size: 14px;
    line-height: 17px;
  }
  .scheme-work__item-img img {
    max-width: 45px;
  }
  .scheme-work__list {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .product__item {
    height: 150px;
  }
  .product__item-wrap {
    margin-bottom: 10px;
  }
  .why-we__item-img img {
    max-width: 50px;
  }
  .scheme-work__item-text {
    max-width: 130px;
    margin: 0 auto;
  }
  .why-we__item p {
    font-size: 14px;
    line-height: 17px;
  }
  .scheme-work__item-img {
    margin-bottom: 15px;
  }
  .scheme-work {
    padding-bottom: 20px;
  }
  .product {
    padding-bottom: 50px;
  }
  .why-we__item {
    padding: 15px;
  }
  .why-we__item {
    width: calc(50% - 7px);
    margin-bottom: 15px;
  }
  .why-we {
    padding-bottom: 50px;
  }
  .delivery__list .product__item {
    height: 150px;
  }
  .reviews__item {
    padding-top: 44px;
  }
  .reviews {
    padding-bottom: 40px;
  }
  .partners__item-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .partners__list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .partners__item {
    max-width: 115px;
  }
  .partners__item img {
    max-height: 60px;
  }
  .partners {
    padding-bottom: 50px;
  }
  .about-info__content {
    flex-direction: column;
    align-items: center;
  }
  .about-info__img {
    margin-right: 0;
    height: 170px;
    margin-bottom: 15px;
  }
  .about-info__img img {
    max-width: 68px;
  }
  .about-info__text .main-title {
    padding-bottom: 10px;
  }
  .about-info__text p {
    padding-bottom: 20px;
  }
  .about-info {
    padding-bottom: 50px;
  }
  .items-list .why-we__item {
    margin-bottom: 0;
  }
  .items-list .items-list__item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  .proposal__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .proposal__text {
    margin-right: 0;
  }
  .proposal__img {
    height: 170px;
    margin-bottom: 18px;
  }
  .proposal {
    padding-bottom: 50px;
  }
  .inner-title__title {
    font-size: 32px;
  }
  .proposal .btn-main--left {
    margin: 0 auto;
  }
  .single-page__content ul li {
    font-size: 16px;
    padding-left: 21px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .single-page__content ul li:last-child {
    margin-bottom: 0;
  }
  .single-page__content ul li::before {
    width: 8px;
    height: 8px;
    top: 8px;
  }
  .single-page__goods {
    flex-direction: column;
    align-items: center;
  }
  .single-page__goods-img {
    margin-right: 0;
    height: 250px;
    margin-bottom: 20px;
  }
  .single-page__goods-img img {
    max-height: 220px;
  }
  .single-page h4 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 8px;
  }
  .single-page .btn-main {
    margin: 0 auto;
  }
  .single-page__table-wrap table th {
    font-size: 14px;
    line-height: 17px;
  }
  .single-page__table-wrap table th {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .single-page__table-wrap table td {
    font-size: 14px;
    line-height: 17px;
  }
  .single-page h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .service-inner .product__item-wrap {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
  .service-inner .delivery__list {
    margin-left: 0px;
    margin-right: 0px;
  }
  .service__product-item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  .service-inner .product__item-wrap {
    margin-bottom: 20px;
  }
  .service-inner .delivery__list .product__item {
    height: 150px;
  }
  .product__item-service-item {
    font-size: 18px;
    line-height: 330%;
  }
  .product__item-service-list {
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .schema__item-img {
    margin-right: 20px;
  }
  .faq__item-title-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .reviews__slider-btns {
    transform: translate(-50%, 0);
    bottom: 70px;
    top: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contacts-inner__map-wrap {
    height: 500px;
  }
  .contacts-inner__title {
    font-size: 18px;
  }
  .contacts-inner__info {
    padding-top: 16px;
    padding-bottom: 23px;
  }
}

@media (max-width: 670px) {
  .intro__slider-img {
    height: 250px;
  }
  .footer__top .header__info {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .footer__top .header__info-item {
    margin-right: 0;
    margin-bottom: 19px;
  }
  .footer__top .header__info-item:last-child {
    margin-bottom: 0;
  }
  .footer__logo {
    max-width: 96px;
    width: 100%;
  }
  .footer__bottom p {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .footer__bottom {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .main-title {
    font-size: 22px;
  }
  .about__content p {
    /*padding-bottom: 32px;*/
  }
  .intro__slider-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-title__wrap::before {
    max-width: 100%;
  }
  .main-title {
    text-align: left;
  }
  .about__numbers::before {
    top: -6px;
    height: 6px;
    width: 78px;
  }
  .main-title__wrap::after {
    height: 6px;
    width: 78px;
    left: 0px;
    transform: translate(0%, 0);
  }
  .scheme-work .main-title__wrap {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .reviews__item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-form__checkbox label {
    max-width: 260px;
    line-height: 120%;
    padding-left: 44px;
  }
  .main-form__checkbox label::before {
    top: 3px;
  }
  .main-form__checkbox input[type=checkbox]:checked ~ .wpcf7-list-item-label::after {
    top: 9px;
  }
  .contact-form .main-title {
    text-align: center;
  }
  .contact-form .main-title__wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
  .contact-form .main-title__wrap::after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .contact-form__description {
    padding-left: 10px;
    padding-right: 10px;
  }
  .reviews .main-title__wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
  .reviews .main-title {
    text-align: center;
  }
  .reviews .main-title__wrap::after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .vacancy__item-wrap {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .vacancy__list {
    margin-left: 0;
    margin-right: 0;
  }
  .vacancy__item-wrap {
    margin-bottom: 10px;
  }
  .vacancy__item-title {
    font-size: 18px;
  }
  .vacancy__item-img {
    margin-bottom: 2px;
  }
  .vacancy__item {
    padding: 16px;
  }
  .inner-title__title {
    font-size: 22px;
    padding-left: 10px;
  }
  .square-mask {
    width: 20px;
    height: 20px;
  }
  .square-mask::before {
    border: 3px solid transparent;
    border-bottom: 3px solid #F8F9FA;
    border-left: 3px solid #F8F9FA;
  }
  .about-info {
    padding-bottom: 35px;
  }
  .catalog__item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .catalog__item-name {
    font-size: 16px;
    line-height: 19px;
  }
  .catalog__item {
    padding-bottom: 15px;
  }
  .catalog__item-img {
    margin-bottom: 8px;
  }
  .catalog__title {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .search-content__form .btn-main {
    font-size: 0;
    width: 50px;
    height: 50px;
  }
  .search-content__form .btn-main::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .single-page__table-wrap table {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  .contacts-inner__map-wrap {
    height: 400px;
  }
}

@media (max-width: 460px) {
  .intro {
    padding-bottom: 20px;
  }
  .scheme-work__list {
    width: 683px;
  }
  .scheme-work__item-img {
    max-width: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .scheme-work__item-img img {
    width: 100%;
  }
  .scheme-work__item {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .scheme-work__list-container {
    padding-top: 20px;
  }
  .scheme-work .main-title__wrap {
    padding-bottom: 24px;
  }
  .scheme-work {
    padding-bottom: 0;
  }
  .product__item {
    height: 100px;
  }
  .product {
    padding-bottom: 35px;
  }
  .why-we__text-content .main-title__wrap {
    padding-bottom: 24px;
  }
  .why-we__text-content p {
    padding-top: 20px;
  }
  .why-we {
    padding-bottom: 30px;
  }
  .main-title__wrap {
    padding-bottom: 24px;
  }
  .main-title__description {
    padding-top: 20px;
  }
  .reviews__item-wrap {
    padding-top: 30px;
  }
  .reviews {
    padding-bottom: 0;
  }
  .partners {
    padding-bottom: 30px;
  }
  .contact-form__description {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-form__field {
    margin-bottom: 10px;
  }
  .contact-form .container-1104 {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__bottom p {
    padding-left: 12px;
  }
  .footer__bottom p::before {
    height: 94%;
  }
  .partners__item-wrap {
    margin-bottom: 10px;
  }
  .footer__logo {
    max-width: 79px;
  }
  .footer__logo-wrap p {
    font-size: 14px;
  }
  .delivery {
    padding-bottom: 30px;
  }
  .delivery__list .product__item {
    height: 100px;
  }
  .delivery .main-title__description {
    text-align: left;
  }
  .delivery__list {
    padding-top: 18px;
  }
  .why-we__item-img {
    max-width: 40px;
    min-height: 52px;
  }
  .why-we__item-img img {
    max-width: none;
    width: 100%;
  }
  .why-we__item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .btn-order-mobile {
    max-width: 160px;
  }
  header .header__info-item img {
    max-width: 11px;
  }
  .about-info {
    padding-top: 15px;
  }
  .about-benefits {
    padding-bottom: 35px;
  }
  .proposal__text .main-title__description {
    padding-bottom: 20px;
  }
  .proposal {
    padding-bottom: 45px;
  }
  .vacancy__list {
    padding-top: 15px;
  }
  .vacancy__item-img {
    max-width: 35px;
    min-height: 42px;
    margin-bottom: 0;
  }
  .vacancy {
    padding-bottom: 33px;
  }
  .search-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .catalog__item-img img {
    max-height: 110px;
  }
  .catalog__item-img {
    min-height: 115px;
  }
  .catalog__item::before {
    display: none;
  }
  .catalog__item:hover {
    border-bottom: 4px solid transparent;
  }
  .catalog__item {
    padding-bottom: 10px;
  }
  .catalog__title {
    margin-bottom: 15px;
  }
  .single-page__goods-img {
    height: 170px;
  }
  .single-page__goods-img img {
    max-height: 150px;
  }
  .single-page__goods {
    padding-top: 20px;
    padding-bottom: 22px;
    margin-bottom: 18px;
  }
  .single-page__content p {
    padding-bottom: 24px;
  }
  .single-page__content ul {
    padding-bottom: 24px;
  }
  .single-page__content {
    margin-bottom: 24px;
  }
  .single-page__table-wrap table {
    width: 800px;
    margin-bottom: 24px;
  }
  .single-page__table-wrap table th {
    width: 150px !important;
  }
  .service-inner {
    padding-top: 15px;
  }
  .service-inner .delivery__list .product__item {
    height: 120px;
  }
  .service-inner .delivery__list {
    padding-bottom: 25px;
  }
  .service-inner .single-page__table-wrap {
    margin-top: 25px;
  }
  .service-inner .single-page__table-wrap table {
    width: 500px;
  }
  .service-inner .single-page__table-wrap table th {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .service-inner .single-page__table-wrap table td {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .service-inner {
    padding-bottom: 20px;
  }
  .schema {
    padding-top: 15px;
    padding-bottom: 21px;
  }
  .schema__list {
    padding-top: 27px;
  }
  .schema__item {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
  }
  .schema__item-img {
    margin-right: 0;
  }
  .schema__item-img {
    min-width: 68px;
    height: 68px;
    margin-bottom: 7px;
  }
  .schema__item-img img {
    max-width: 25px;
  }
  .schema__item-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 7px;
  }
  .schema-partners__item-wrap {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .schema-partners__item-img img {
    max-height: 55px;
  }
  .schema-partners {
    padding-bottom: 35px;
  }
  .faq__item-title {
    font-size: 18px;
    line-height: 22px;
    padding-right: 50px;
  }
  .faq__item-title-content::before {
    width: 32px;
    height: 32px;
  }
  .faq__item-title-content {
    padding-top: 25px;
    padding-bottom: 21px;
  }
  .faq__item-tab ul li {
    font-size: 16px;
    line-height: 130%;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .faq__item-tab ul li::before {
    width: 8px;
    height: 8px;
    top: 7px;
  }
  .main-list li {
    font-size: 16px;
    line-height: 130%;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .main-list li::before {
    width: 8px;
    height: 8px;
    top: 7px;
  }
  .faq__item-tab ul {
    padding-top: 20px;
    padding-bottom: 21px;
  }
  .faq__item {
    margin-bottom: 10px;
  }
  .faq {
    padding-bottom: 35px;
  }
  .schema-partners__list {
    margin-left: 0;
    margin-right: 0;
  }
  .schema-partners__item-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .contacts-inner__info {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contacts-inner__map-wrap {
    height: 300px;
  }
  .contacts-inner {
    padding-top: 10px;
    padding-bottom: 45px;
  }
  .contacts-inner__img {
    margin-right: 8px;
    max-width: 10px;
    width: 100%;
    min-width: 15px;
    max-width: 15px;
  }
  .main-title__wrap {
    margin-bottom: 23px;
  }

  div.wpcf7-mail-sent-ok {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .main-title__wrap--search {
    margin-bottom: 20px;
    margin-top: 0;
  }

  .catalog__content--search {
    margin-top: 15px;
  }

  .page-zero {
    height: 400px;
    text-align: center;
  }

  .page-zero__title {
    font-size: 40px;
    font-weight: 700;
  }

  .page-zero__text {
    font-size: 26px;
  }
  .editor-content {
    padding-bottom: 25px;
  }
}


.grecaptcha-badge { visibility: hidden; }