@media (max-width: 1023px) {

  .intro__slider-wrap {
    display: block;
    max-width: 567px;
    width: 100%;
    margin: 0 auto;
  }

  .intro-sl-1 {
    max-width: 567px;
  }

  .intro .container-1104::before {
    display: none;
  }

  .intro .container-1104::after {
    display: none;
  }

  .main-title {
    font-size: 34px;
  }

  .intro-sl-2 {
    max-width: none;
  }

  .intro__slider-content {
    padding-top: 15px;
  }

  .intro__slider-btns {
    padding-left: 0;
    justify-content: center;
    padding-bottom: 19px;
    padding-top: 15px;
  }

  .intro__slider-content p {
    font-size: 18px;
    line-height: 130%;
  }

  p {
    font-size: 18px;
    line-height: 130%;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-1104 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__content {
    padding: 10px;
  }

  .header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 9999;
    top: 90px;
    right: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: translate(0%, 0%);
    background-color: #fff;
    padding-bottom: 30px;
    -ms-align-items: center;
    align-items: center; 
  }

  .header__menu.active {
    transform: translate(-100%, 0%);
    transition: transform 0.4s ease; 
  }

  .header__menu a {
    display: inline-block;
    font-size: 22px;
    line-height: 27px; 
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #BC0022;
    }
  }

  .header__menu-item a.active {
    border-bottom: 3px solid #BC0022;
  }

  .header__menu-item a::before {
    display: none;
  }

  .burger-content {
    position: relative;
    display: block;
    width: 32px;
    height: 24px; 
  }

  .burger-mob {
    position: relative;
    display: block;
    background: #BC0022;;
    width: 32px;
    height: 3px;
    top: 11px; 

    &.active {
        transform: rotate(-45deg);
        opacity: 1;
        transition: all .3s;

        &::before {
            transform: rotate(90deg);
            opacity: 0;
        }

        &::after {
            transform: rotate(90deg);
            opacity: 1;
            transition: all .3s;
            top: 0;
        }
    }
  }

  .burger-mob::before {
    content: "";
    position: absolute;
    background: #BC0022;;
    width: 32px;
    height: 3px;
    top: 10px;
    display: block;
  }

  .burger-mob::after {
    content: "";
    position: absolute;
    background: #BC0022;;
    width: 32px;
    height: 3px;
    bottom: 10px;
    display: block;
  }

  .header__menu-list {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .header__menu-item {
    margin-right: 0;
    padding-bottom: 34px;
  }

  .btn-order {
    display: none;
  }

  .header__logo {
    max-width: 96px;
    width: 100%;
  }

  .intro {
    padding-top: 15px;
    padding-bottom: 80px;
  }

  .intro__slider-img {
    height: 425px;
  }

  .header__info-text {
    font-size: 16px;
  }

  .header__info-item {
    align-items: center;
  }

  .header__info-item img {
    max-width: 15px;
  }

  .header__top {
    padding: 0;
  }

  .about__img {
    max-width: 300px;
  }

  .about__num-title {
    font-size: 38px;
  }

  .about__num-text {
    font-size: 16px;
    line-height: 120%;
  }

  .about__content {
    margin-right: 30px;
  }

  .scheme-work__item-text {
    font-size: 18px;
    line-height: 22px;
  }

  .why-we__item p {
    font-size: 18px;
    line-height: 22px;
  }

  .product__item-wrap {
    flex: 100%;
    max-width: 100%;
  }

  .product__item {
    max-width: 400px;
    margin: 0 auto;
    height: 200px;
  }

  .product__item .btn-item {
    font-size: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    left: auto;
    right: 30px;
    margin-left: auto;
    transform: translate(0, -50%);
    background-image: url("../img/prod-btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }

  .product__item-nav {
    display: none;
  }

  .product__item-title {
    left: 30px;
    transform: translate(0, -50%);
    font-size: 22px;
    line-height: 100%;
    max-width: 170px;
    width: 100%;
    text-align: left;
  }

  .product__item:hover .product__item-title {
    transform: translate(0, -50%);
    top: 50%;
  }

  .product__item::before {
    display: none;
  }

  .why-we__content {
    flex-direction: column-reverse;
  }

  .why-we__list {
    margin-right: 0;
    margin-top: 15px;
  }

  .delivery__list .product__item {
    height: 200px;
  }

  .reviews__name {
    font-size: 22px;
    line-height: 27px;
  }

  .main-form {
    padding: 33px;
  }

  .footer__top-content {
    flex-direction: column;
  }

  .footer__logo-wrap {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    margin-bottom: 15px;
    border-bottom: 2px solid #404654;
  }

  .footer__logo-wrap p {
    max-width: none;
    width: auto;
  }

  .footer__top {
    padding-top: 12px;
    padding-bottom: 15px;
  }

  .about__num-item {
    max-width: 90px;
  }

  .about__img img {
    max-width: 100px;
  }

  .contact-form__description {
    font-size: 22px;
    line-height: 28px;
  }

  .about {
    padding-bottom: 80px;
  }

  .scheme-work {
    padding-bottom: 60px;
  }

  .product {
    padding-bottom: 80px;
  }

  .reviews {
    padding-bottom: 80px;
  }

  .contact-form {
    padding-bottom: 45px;
  }

  .btn-order-mobile {
    display: block;
  }

  .header__info-item {
    display: none;
  }

  .header__info-item--tel {
    display: flex;
  }

  .btn-order-mobile {
    line-height: 40px;
  }

  .header__info {
    justify-content: space-between;
    padding-left: 10px;
  } 

  .footer__top .header__info {
    padding-left: 0;
  }

  .footer__top .header__info-item {
    display: flex;
  }

  .inner-title__title {
    font-size: 38px;
    padding-left: 15px;
  }

  .inner-title__content {
    padding: 10px;
  }

  .square-mask {
    width: 50px;
    height: 50px;
  }

  .inner-title {
    padding-top: 15px;
  }

  .about-info__img {
    margin-right: 40px;
  }

  .vacancy__item-title {
    font-size: 22px;
  }

  .about-info {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .catalog__item-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .catalog__item-name {
    font-size: 20px;
    line-height: 26px;
  }

  .search-content__form {
    padding: 10px;
  }

  .single-page__table-wrap {
    overflow: auto;
    margin-left: -10px;
    margin-right: -10px;


    table {
      width: 1170px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .single-page {
    padding-top: 15px;
  }

  .single-page__table-wrap table th {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .single-page__table-wrap table th::before {
    height: 40px;
  }

  .single-page__table-wrap table td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .service-inner {

    .product__item-wrap {
      flex: 0 0 33.333%;
      max-width: 33.333%;
      padding-left: 5px;
      padding-right: 5px;
    }

    .product__item-title {
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: none;
    }

    .service-inner .delivery__list {
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  .product__item-service-list {
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .product__item-service-item {
    font-size: 15px;
  }

  .service-inner .single-page__table-wrap table th {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service-inner .single-page__table-wrap table td {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .schema__item-title {
    font-size: 22px;
    line-height: 28px;
  }

  .schema__item-img {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
  }

  .schema__item-img img {
    max-width: 45px;
  }

  .schema-partners__item {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 25px;
  }

  .schema-partners__item-img {
    margin-bottom: 16px;
  }

  .faq__item-title {
    font-size: 22px;
    line-height: 28px;
  }

  .faq__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-list li {
    font-size: 18px;
  }

  .reviews__slider-btns {
    width: calc(48% - -100px);
  }

  .contacts-inner__content {
  	flex-direction: column;
  	align-items: center;
  	background-color: #fff;
  	max-width: 750px;
  	width: 100%;
  	margin: 0 auto;
  }

  .contacts-inner__map-wrap {
  	max-width: none;
  }

  .contacts-inner__info {
  	max-width: none;
  }

  .popup {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-order-mobile:hover {
    background-color: #BC0022;
  }

}

@media (max-width: 860px) {
  .scheme-work__list {
    width: 1000px;
  }

  .scheme-work__list-container {
    overflow: scroll;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .scheme-work .container-1104 {
    padding-left: 0;
    padding-right: 0;
  }

  .scheme-work .main-title__wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .scheme-work__list {
    padding-left: 10px;
    padding-right: 3px;
  }

  .scheme-work .main-title__wrap {
    margin-bottom: 0;
  }

  .scheme-work {
    padding-bottom: 40px;
  } 

  .reviews__slider-btns {
    width: calc(64% - -100px);
  }
}

@media (max-width: 760px) {

  .about__content-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__img {
    height: 168px;
    margin-bottom: 15px;
  }

  .about__img img {
    max-width: 68px;
  }

  .about__content {
    margin-right: 0;
  }

  .main-title {
    font-size: 28px;
  }

  .about__content p {
    padding-top: 10px;
    padding-bottom: 37px;
  }

  .main-form {
    padding: 15px;
  }

  .main-form__fields {
    flex-direction: column;
  }

  .main-form__field {
    max-width: none;
  }

  .main-form__checkbox label {
    font-size: 16px;
    padding-left: 47px;
  }

  .main-form__checkbox label::before {
    top: -4px;
    width: 30px;
    height: 30px;
  }

  .main-form__checkbox input[type=checkbox]:checked ~ label::after {
    top: 3px;
    left: 4px;
  }

  .main-form__field input {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
  }

  .main-form__field textarea {
    font-size: 16px;
    padding-top: 20px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-main {
    line-height: 50px;
    font-size: 16px;
  }

  .btn-order-mobile {
    font-size: 16px;
  }

  .contact-form__description {
    font-size: 16px;
    line-height: 130%;
  }

  p {
    font-size: 16px;
    line-height: 130%;
  }

  .intro__slider-content p {
    font-size: 16px;
    line-height: 130%;
  }

  .intro {
    padding-bottom: 50px;
  }

  .about__numbers {
    padding-top: 26px;
  }

  .about__num-title {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .about {
    padding-bottom: 45px;
  }

  .scheme-work__item-text {
    font-size: 14px;
    line-height: 17px;
  }

  .scheme-work__item-img img {
    max-width: 45px;
  }

  .scheme-work__list {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .product__item {
    height: 150px;
  }

  .product__item-wrap {
    margin-bottom: 10px;
  }

  .why-we__item-img img {
    max-width: 50px;
  }

  .scheme-work__item-text {
    max-width: 130px;
    margin: 0 auto;
  }

  .why-we__item p {
    font-size: 14px;
    line-height: 17px;
  }

  .scheme-work__item-img {
    margin-bottom: 15px;
  }

  .scheme-work {
    padding-bottom: 20px;
  }

  .product {
    padding-bottom: 50px;
  }

  .why-we__item {
    padding: 15px;
  }

  .why-we__item {
    width: calc(50% - 7px);
    margin-bottom: 15px; 
  }

  .why-we {
    padding-bottom: 50px;
  }

  .delivery__list .product__item {
    height: 150px;
  }

  .reviews__item {
    padding-top: 44px;
  }

  .reviews {
    padding-bottom: 40px;
  }

  .partners__item-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .partners__list {
    margin-left: -10px;
    margin-right: -10px;
  }

  .partners__item {
    max-width: 115px;
  }

  .partners__item img {
    max-height: 60px;
  }

  .partners {
    padding-bottom: 50px;
  }

  .about-info__content {
    flex-direction: column;
    align-items: center;
  }

  .about-info__img {
    margin-right: 0;
    height: 170px;
    margin-bottom: 15px;

    img {
      max-width: 68px;
    }
  }

  .about-info__text .main-title {
    padding-bottom: 10px;
  }

  .about-info__text p {
    padding-bottom: 20px;
  }

  .about-info {
    padding-bottom: 50px;
  }

  .items-list .why-we__item {
    margin-bottom: 0;
  }

  .items-list .items-list__item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }

  .proposal__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .proposal__text {
    margin-right: 0;
  }

  .proposal__img {
    height: 170px;
    margin-bottom: 18px;
  }

  .proposal {
    padding-bottom: 50px;
  }

  .inner-title__title {
    font-size: 32px;
  }

  .proposal .btn-main--left {
    margin: 0 auto;
  }

  .single-page__content ul li {
    font-size: 16px;
    padding-left: 21px;
    line-height: 22px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .single-page__content ul li::before {
    width: 8px;
    height: 8px;
    top: 8px;
  }

  .single-page__goods {
    flex-direction: column;
    align-items: center;
  }

  .single-page__goods-img {
    margin-right: 0;
    height: 250px;
    margin-bottom: 20px;
  }

  .single-page__goods-img img {
    max-height: 220px;
  }

  .single-page h4 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 8px;
  }

  .single-page .btn-main {
    margin: 0 auto;
  }

  .single-page__table-wrap table th {
    font-size: 14px;
    line-height: 17px;
  }

  .single-page__table-wrap table th {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .single-page__table-wrap table td {
    font-size: 14px;
    line-height: 17px;
  }

  .single-page h5 {
    font-size: 18px;
    line-height: 22px;
  }

  .service-inner .product__item-wrap {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }

  .service-inner .delivery__list {
    margin-left: 0px;
    margin-right: 0px;
  }

  .service__product-item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  .service-inner .product__item-wrap {
    margin-bottom: 20px;
  }

  .service-inner .delivery__list .product__item {
    height: 150px;
  }

  .product__item-service-item {
    font-size: 18px;
    line-height: 330%;
  }

  .product__item-service-list {
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .schema__item-img {
    margin-right: 20px;
  }

  .faq__item-title-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews__slider-btns {
    transform: translate(-50%, 0);
    bottom: 70px;
    top: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts-inner__map-wrap {
  	height: 500px;
  }

  .contacts-inner__title {
  	font-size: 18px;
  }

  .contacts-inner__info {
  	padding-top: 16px;
  	padding-bottom: 23px;
  }
}

@media (max-width: 670px) {

  .intro__slider-img {
    height: 250px;
  }

  .footer__top .header__info {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .footer__top .header__info-item {
    margin-right: 0;
    margin-bottom: 19px;
  }

  .footer__top .header__info-item:last-child {
    margin-bottom: 0;
  }

  .footer__logo {
    max-width: 96px;
    width: 100%;
  }

  .footer__bottom p {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .footer__bottom {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .main-title {
    font-size: 22px;
  }

  .about__content p {
    padding-bottom: 32px;
  }

  .intro__slider-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-title__wrap::before {
    max-width: 100%;
  }

  .main-title {
    text-align: left;
  }

  .about__numbers::before {
    top: -6px;
    height: 6px;
    width: 78px;
  }

  .main-title__wrap::after {
    height: 6px;
    width: 78px;
    left: 0px;
    transform: translate(0%, 0);
  }

  .scheme-work .main-title__wrap {
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .reviews__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-form__checkbox label {
    max-width: 260px;
    line-height: 120%;
    padding-left: 44px;
  } 

  .main-form__checkbox label::before {
    top: 3px;
  }

  .main-form__checkbox input[type=checkbox]:checked ~ label::after {
    top: 9px;
  }

  .contact-form .main-title {
    text-align: center;
  }

  .contact-form .main-title__wrap {
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact-form .main-title__wrap::after {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .contact-form__description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .reviews .main-title__wrap {
    margin-left: 10px;
    margin-right: 10px;
  }

  .reviews .main-title {
    text-align: center;
  }

  .reviews .main-title__wrap::after {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .vacancy__item-wrap {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .vacancy__list {
    margin-left: 0;
    margin-right: 0;
  }

  .vacancy__item-wrap {
    margin-bottom: 10px;
  }

  .vacancy__item-title {
    font-size: 18px;
  }

  .vacancy__item-img {
    margin-bottom: 2px;
  }

  .vacancy__item {
    padding: 16px;
  }

  .inner-title__title {
    font-size: 22px;
    padding-left: 10px;
  }

  .square-mask {
    width: 20px;
    height: 20px;
  }

  .square-mask::before {
    border: 3px solid transparent;
    border-bottom: 3px solid #F8F9FA;
    border-left: 3px solid #F8F9FA;
  }

  .about-info {
    padding-bottom: 35px;
  }

  .catalog__item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .catalog__item-name {
    font-size: 16px;
    line-height: 19px;
  }

  .catalog__item {
    padding-bottom: 15px;
  }

  .catalog__item-img {
    margin-bottom: 8px;
  }

  .catalog__title {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .search-content__form .btn-main {
    font-size: 0;
    width: 50px;
    height: 50px;
  }

  .search-content__form .btn-main::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .single-page__table-wrap table {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }

  .contacts-inner__map-wrap {
  	height: 400px;
  }

}

@media (max-width: 460px) {

  .intro {
    padding-bottom: 20px;
  }

  .scheme-work__list {
    width: 683px;
  }

  .scheme-work__item-img {
    max-width: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .scheme-work__item-img img {
    width: 100%;
  }

  .scheme-work__item {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .scheme-work__list-container {
    padding-top: 20px;
  }

  .scheme-work .main-title__wrap {
    padding-bottom: 24px;
  }

  .scheme-work {
    padding-bottom: 0;
  }

  .product__item {
    height: 100px;
  }

  .product {
    padding-bottom: 35px;
  }

  .why-we__text-content .main-title__wrap {
    padding-bottom: 24px;
  }

  .why-we__text-content p {
    padding-top: 20px;
  }

  .why-we {
    padding-bottom: 30px;
  }

  .main-title__wrap {
    padding-bottom: 24px;
  }

  .main-title__description {
    padding-top: 20px;
  }

  .reviews__item-wrap {
    padding-top: 30px;
  }

  .reviews {
    padding-bottom: 0;
  }

  .partners {
    padding-bottom: 30px;
  }

  .contact-form__description {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-form__field {
    margin-bottom: 10px;
  }

  .contact-form .container-1104 {
    padding-left: 0;
    padding-right: 0;
  }

  .footer__bottom p {
    padding-left: 12px;
  }

  .footer__bottom p::before {
    height: 94%;
  }

  .partners__item-wrap {
    margin-bottom: 10px;
  }

  .footer__logo {
    max-width: 79px;
  }

  .footer__logo-wrap p {
    font-size: 14px;
  }

  .delivery {
    padding-bottom: 30px;
  }

  .delivery__list .product__item {
    height: 100px;
  }

  .delivery .main-title__description {
    text-align: left;
  }

  .delivery__list {
    padding-top: 18px;
  }

  .why-we__item-img {
    max-width: 40px;
    min-height: 52px;
  }

  .why-we__item-img img {
    max-width: none;
    width: 100%;
  }

  .why-we__item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
  }

  .btn-order-mobile {
    max-width: 160px;
  }

  header .header__info-item img {
    max-width: 11px;
  }

  .about-info {
    padding-top: 15px;
  }

  .about-benefits {
    padding-bottom: 35px;
  }

  .proposal__text .main-title__description {
    padding-bottom: 20px;
  }

  .proposal {
    padding-bottom: 45px;
  }

  .vacancy__list {
    padding-top: 15px;
  }

  .vacancy__item-img {
    max-width: 35px;
    min-height: 42px;
    margin-bottom: 0;
  }

  .vacancy {
    padding-bottom: 33px;
  }

  .search-content {
    padding-top: 15px;
    padding-bottom: 15px;
  } 

  .catalog__item-img img {
    max-height: 110px;
  }

  .catalog__item-img {
    min-height: 115px;
  }

  .catalog__item::before {
    display: none;
  }

  .catalog__item:hover {
    border-bottom: 4px solid transparent;
  }

  .catalog__item {
    padding-bottom: 10px;
  }

  .catalog__title {
    margin-bottom: 15px;
  }

  .single-page__goods-img {
    height: 170px;

    img {
      max-height: 150px;
    }
  }

  .single-page__goods {
    padding-top: 20px;
    padding-bottom: 22px;
    margin-bottom: 18px;
  }

  .single-page__content p {
    padding-bottom: 24px;
  }

  .single-page__content ul {
    padding-bottom: 24px;
  }

  .single-page__content {
    margin-bottom: 24px;
  }

  .single-page__table-wrap table {
    width: 800px;
    margin-bottom: 24px;
  }

  .single-page__table-wrap table th {
    width: 150px !important;
  }

  .service-inner {
    padding-top: 15px;
  }

  .service-inner .delivery__list .product__item {
    height: 120px;
  }

  .service-inner .delivery__list {
    padding-bottom: 25px;
  }

  .service-inner .single-page__table-wrap {
    margin-top: 25px;
  }

  .service-inner .single-page__table-wrap table  {
    width: 500px;
  }

  .service-inner .single-page__table-wrap table th {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .service-inner .single-page__table-wrap table td {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .service-inner {
    padding-bottom: 20px;
  }

  .schema {
    padding-top: 15px;
    padding-bottom: 21px;
  }

  .schema__list {
    padding-top: 27px;
  }

  .schema__item {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
  }

  .schema__item-img {
    margin-right: 0;
  }

  .schema__item-img {
    min-width: 68px;
    height: 68px;
    margin-bottom: 7px;
  }

  .schema__item-img img {
    max-width: 25px;
  }

  .schema__item-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 7px;
  }

  .schema-partners__item-wrap {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .schema-partners__item-img img {
    max-height: 55px;
  }

  .schema-partners {
    padding-bottom: 35px;
  }

  .faq__item-title {
    font-size: 18px;
    line-height: 22px;
    padding-right: 50px;
  }

  .faq__item-title-content::before {
    width: 32px;
    height: 32px;
  }

  .faq__item-title-content {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .main-list li {
    font-size: 16px;
    line-height: 130%;
    padding-left: 15px;
    padding-bottom: 20px;
  }

  .main-list li::before {
    width: 8px;
    height: 8px;
    top: 7px;
  }

  .faq__item-tab .main-list {
    padding-top: 20px;
    padding-bottom: 21px;
  }

  .faq__item {
    margin-bottom: 10px;
  }

  .faq {
    padding-bottom: 35px;
  }

  .schema-partners__list {
    margin-left: 0;
    margin-right: 0;
  }

  .schema-partners__item-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .contacts-inner__info {
  	padding-left: 15px;
  	padding-right: 15px;
  }

  .contacts-inner__map-wrap {
  	height: 300px;
  }

  .contacts-inner {
  	padding-top: 10px;
  	padding-bottom: 45px;
  }

  .contacts-inner__img {
  	margin-right: 8px;
  	max-width: 10px;
  	width: 100%;
  	min-width: 15px;
  	max-width: 15px;
  }

  .main-title__wrap {
    margin-bottom: 23px;
  }

}