@media (min-width: 1441px) {
  .reviews__slider-btns {
    width: calc(52% - -100px);
  }
}

@media (max-width: 1360px) {

  .header__menu-item {
    margin-right: 40px;
  }

  .header__menu-list {
    margin-left: 10px;
  }

  .reviews__slider-btns {
    width: calc(52% - -100px);
  }
}

@media (max-width: 1260px) {

  .about-info__img::before {
    display: none;
  }

  .items-list::before {
    display: none;
  }

  .items-list::after {
    display: none;
  }

  .proposal__img::before {
    display: none;
  }

  .schema-partners__list::before {
    display: none;
  }

  .schema-partners__list::after {
    display: none;
  }
}



@media (max-width: 1200px) {

  .intro .square-mask {
    display: none;
  }

  .about .container-1104::before {
    display: none;
  }

  .scheme-work__list::before {
    display: none;
  }

  .scheme-work__list::after {
    display: none;
  }

  .why-we__list::before {
    display: none;
  }

  .main-form::before {
    display: none;
  }

  .header__info-text {
    font-size: 18px;
  }

  .header__menu-item a {
    font-size: 18px;
  }

  .btn-order {
    font-size: 18px;
    max-width: 190px;
  }

  .intro__slider-btns {
    padding-top: 60px;
  }

  .about__num-title {
    font-size: 52px;
  }

  .about__num-text {
    font-size: 20px;
  }

  .product__item-title {
    font-size: 32px;
  }

  .product {
    padding-bottom: 100px;
  }

  .scheme-work {
    padding-bottom: 90px;
  }

  .reviews__item-wrap {
    margin-right: 7px;
    margin-left: 7px;
  }

  .intro {
    padding-top: 50px;
  }

  .about {
    padding-bottom: 100px;
  }

  .scheme-work__item-text {
    font-size: 20px;
    line-height: 24px;
  }

  .why-we__item p {
    font-size: 20px;
    line-height: 24px;
  }

  .product__item-nav {
    left: 0;
    padding-left: 22px;
    padding-right: 22px;
    max-width: none;
  }

  .contact-form {
    padding-bottom: 90px;
  }

  .product__item-wrap {
    padding-left: 7px;
    padding-right: 7px;
  }

  .product__list {
    margin-left: -7px;
    margin-right: -7px;
  }

  .scheme-work__item-wrap {
    padding-left: 7px;
    padding-right: 7px;
  }

  .scheme-work__list {
    margin-left: -7px;
    margin-right: -7px;
  }

  .inner-title__content {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .items-list {
    margin-left: -10px;
    margin-right: -10px;
  }

  .items-list .items-list__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .vacancy__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .vacancy__list {
    margin-left: -10px;
    margin-right: -10px;
  }

  .items-list {
    margin-left: 0;
  }

  .catalog__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }

  .catalog__list {
    margin-left: -5px;
    margin-right: -5px;
  }

  .single-page__table-wrap table th {
    font-size: 20px;
  }

  .single-page__table-wrap table td {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .product__item-service-item {
    font-size: 18px;
  }

  .schema__list::before {
    display: none;
  }

  .schema__item-img {
    margin-right: 40px;
  }

  .schema-partners__item-img:nth-child(even) {
    margin-left: 30px;
  }

  .schema-partners__item-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }

  .schema-partners__list {
    margin-left: -5px;
    margin-right: -5px;
  }

  .reviews__slider-btns {
    width: calc(54% - -100px);
  }
}

@media (max-width: 1140px) {
  
  .intro-sl-1 {
    max-width: 460px;
  }

  .header__menu-item {
    margin-right: 30px;
  }

  .btn-order {
    max-width: 175px;
  }

  .about__num-title {
    font-size: 48px;
  }

  .header__content {
    padding-left: 15px;
  }

  .product__nav-item a {
    font-size: 19px;
  }

  .product__nav-item {
    font-size: 19px;
  }

  .product__item .btn-item {
    max-width: 278px;
    line-height: 64px;
    font-size: 22px;
  }

  .btn-item {
    line-height: 64px;
    font-size: 22px;
  }

  .main-form__field input {
    height: 64px;
  }

  .footer__logo-wrap p {
    font-size: 16px;
  }

  .footer__logo {
    margin-right: 20px;
  }

  .footer__logo-wrap p {
    max-width: 185px;
  }

  .footer .header__info-text {
    font-size: 16px;
  }

  .intro__slider-img {
    height: 490px;
  }

  .product__item {
    height: 615px;
  }

}