@import "normalize";
@import "variables";
@import "slick";
@import "fancybox";


@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/subset-ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #F8F9FA;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-1104 {
	position: relative;
	max-width: 1134px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header {
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.header__top {
	background-color: #2E323A;
	padding-top: 12px;
	padding-bottom: 14px;
}

.header__info {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1600px;
	margin: 0 auto;
}

.header__info-item {
	display: flex;
	align-items: flex-end;
	margin-right: 40px;

	img {
		margin-right: 5px;
	}

	&:last-of-type {
		margin-right: 0;
	}
}

.header__info-text {
	display: block;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.header__bottom {
	background-color: #fff;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
	max-width: 1600px;
	margin: 0 auto;
}

.header__logo {
	display: block;
}

.header__menu-list {
	display: flex;
	margin-left: 63px;
}

.header__menu-item {
	margin-right: 50px;

	&:last-child {
		margin-right: 0;
	}
}

.header__menu-item a {
	position: relative;
	font-size: 20px;
	color: #000;
	transition: all .3s;

	&:hover {
		color: #BC0022;

		&::before {
			width: 110%;
			left: -5%;
		}
	}

	&.active {
		font-weight: 600;
		color: #BC0022;

		&::before {
			content: "";
			position: absolute;
			width: 110%;
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 0%;
		height: 3px;
		background-color: #BC0022;
		bottom: -29px;
		left: -5%;
		transition: all .3s;
	}
}

.btn-order {
	display: block;
	max-width: 205px;
	width: 100%;
	line-height: 76px;
	background-color: #BC0022;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	transition: all .3s;
	border-top: 2px solid #BC0022;
	border-bottom: 2px solid transparent;

	&:hover {
		background-color: #2E323A;
	}
}

.intro {
	padding-top: 79px;
	padding-bottom: 158px;

	.square-mask {
		position: absolute;
		bottom: -35px;
		left: -20px;
	}

	.container-1104::before {
		content: "";
		position: absolute;
		background-image: url("../img/intro-dots-1.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 420px;
		height: 9px;
		bottom: -65px;
		left: 82px;
	}

	.container-1104::after {
		content: "";
		position: absolute;
		background-image: url("../img/intro-dots-1.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 420px;
		height: 9px;
		bottom: -32px;
		left: 82px;
	}
}

.square-mask {
	position: relative;
	width: 70px;
	height: 70px;
	background-color: #BC0022;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		border: 9px solid transparent; 
		border-bottom: 9px solid #F8F9FA; 
		border-left: 9px solid #F8F9FA;
	}
}

.intro__slider-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.intro-sl-1 {
	max-width: 567px;
	width: 100%;
}

.intro-sl-2 {
	max-width: 538px;
	width: 100%;
}

.intro__slider-content {

	p {
		font-size: 20px;
		color: #000;
		font-weight: 300;
		line-height: 150%;
		padding-top: 13px;
	}
}

.intro__slider-item {
	display: block;
	transition: all .3s;

	&:hover {
		opacity: 0.9;
	}
}

.intro__slider-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 567px;
	width: 100%;
	height: 528px;
}

.main-title {
	font-size: 40px;
	font-weight: 800;
	color: #000;
	line-height: 100%;

	span {
		color: #BC0022;
	}
}

.intro__slider-content {
	width: 100%;
	padding-right: 67px;
	padding-left: 67px;
}

.intro__slider-btn {
	background-color: transparent;
	transition: all .3s;

	&:hover {
		opacity: 0.7;
	}
}

.intro__slider-btns {
	display: flex;
	align-items: center;
	padding-left: 67px;
	padding-top: 85px;

	.slick-dots {
		order: 2;
		padding-bottom: 0;
		margin-top: -10px;
	}
}

.intro__slider-btn--next {
	order: 3;
}

.intro__slider-btn--prev {
	order: 1;
}

.slick-dots button {
	display: block;
	width: 6px;
	height: 6px;
	background-color: #C4C4C4;
	transition: all .3s;

	&:hover {
		opacity: 0.7;
	}
}

.slick-dots .slick-active button {
	background-color: #BC0022;
}

.slick-dots li {
	width: 6px;
	height: 6px;
	margin: 0;
	margin-right: 35px;

	&:first-child {
		margin-left: 35px;
	}
}

.about {
	padding-bottom: 138px;

	.container-1104::before {
		content: "";
		position: absolute;
		background-image: url("../img/about-mask.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 317px;
		height: 391px;
		right: -17px;
		top: 82px;
		z-index: -1;
	}
}

.about__content-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.about__content {
	max-width: 666px;
	width: 100%;
	margin-right: 40px;

	p {
		padding-top: 29px;
		padding-bottom: 59px;
	}
}

p {
	font-size: 20px;
	line-height: 150%;
	font-weight: 300;
	color: #000;
}

.about__numbers {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-top: 4px solid #D8D8D8;
	padding-top: 51px;

	&::before {
		content: "";
		position: absolute;
		width: 100px;
		height: 7px;
		background-color: #BC0022;
		top: -7px;
		left: 0;
	}

	span {
		display: block;
	}
}

.about__num-title {
	font-size: 60px;
	line-height: 100%;
	font-weight: 600;
	color: #000;
}

.about__num-text {
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 150%;
	color: #000;
}

.about__num-item {
	max-width: 142px;
}

.about__img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 337px;
	width: 100%;
	height: 412px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}

.main-title__wrap {
	position: relative;
	padding-bottom: 39px;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		max-width: 631px;
		width: 100%;
		height: 4px;
		background-color: #D8D8D8;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
	}

	&::after {
		content: "";
		position: absolute;
		width: 135px;
		height: 7px;
		background-color: #BC0022;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
	}
}

.scheme-work {
	padding-bottom: 110px;

	.main-title__wrap {
		margin-bottom: 41px;
	}
}

.scheme-work__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-left: -13px;
	margin-right: -13px;
	z-index: -1;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/sheme-mask.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 214px;
		height: 104px;
		left: -19px;
		bottom: -5px;
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../img/sheme-mask.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 214px;
		height: 104px;
		right: -19px;
		top: -31px;
		z-index: -1;
	}
}

.scheme-work__item-wrap {
	flex: 0 0 20%;
	max-width: 20%;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 26px;
}

.scheme-work__item {
	display: block;
	width: 100%;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-top: 45px;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	height: 100%;
}

.scheme-work__item-text {
	display: block;
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
}

.scheme-work__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	margin-bottom: 25px;
}

.product {
	
	padding-bottom: 151px;

	.main-title__wrap {
		margin-bottom: 42px;
	}
}

.product__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.product__item-wrap {
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.product__item {
	position: relative;
	display: block;
	width: 100%;
	height: 640px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding-left: 22px;
	padding-right: 22px;
	transition: all .3s;
	z-index: 1;

	.btn-item {
		position: absolute;
		left: 50%;
		bottom: 24px;
		transform: translate(-50%, 0);
	}

	&:hover {
		
		.product__item-title {
			top: 32px;
			transform: translate(-50%, 0%);
		}

		.product__item-nav {
			opacity: 1;
			pointer-events: all;
		}

		&::before {
			opacity: 1;
		}

	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: rgba(0,0,0,0.2);
		opacity: 0;
		left: 0;
		top: 0;
		transition: all .3s;
	}
}

.product__item-title {
	position: absolute;
	font-size: 34px;
	line-height: 100%;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
}

.product__item-btn {
	display: block;
}

.btn-item {
	display: block;
	max-width: 324px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(37, 39, 48, 0.7);
	font-size: 24px;
	font-weight: 700;
	line-height: 150%;
	color: #fff;
	line-height: 70px;
	transition: all .3s;

	&:hover {
		background-color: #BC0022;
	}
}

.product__item-nav {
	position: absolute;
	text-align: left;
	max-width: 324px;
	width: 100%;
	top: 132px;
	left: 22px;
	height: 388px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s;
	overflow: auto;
}

.product__nav-item {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);

	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}

	a {
		font-size: 22px;
		line-height: 100%;
		font-weight: 700;
		color: #fff;
		transition: all .3s;

		&:hover {
			color: #BC0022;
		}
	}
}

.why-we {
	padding-bottom: 75px;
}

.why-we__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.why-we__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 570px;
	width: 100%;
	margin-right: 35px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/why-we-mask.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 283px;
		height: 168px;
		left: -34px;
		top: -60px;
		z-index: -1;
		pointer-events: none;
	}
}

.why-we__item {
	display: block;
	width: calc(50% - 15px);
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	padding: 24px 23px;

	p {
		font-size: 22px;
		line-height: 27px;
		color: #1A1A1A;
		font-weight: 700;
	}
}

.why-we__item-img {
	display: flex;
	align-items: center;
	min-height: 65px;
}

.why-we__text-content {
	max-width: 467px;
	width: 100%;

	.main-title__wrap {
		text-align: left;
		padding-bottom: 43px;

		&::after {
			left: 0;
			transform: translate(0, 0);
		}
	}

	p {
		padding-top: 32px;
	}
}

.main-title__description {
	padding-top: 28px;
	max-width: 747px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.delivery {
	padding-bottom: 60px;
}


.delivery__list {
	padding-top: 38px;

	.product__item {
		height: 370px;
	}

	.product__item-nav {
		text-align: center;
		top: 92px;
	}

	.product__item-nav {
		height: 160px;
	}
}

.product__nav-item {
	font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    color: #fff;
}

.reviews {
	overflow: hidden;
	padding-bottom: 104px;

	.slick-dots {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		padding-bottom: 0;
		bottom: 85px;
	}

	.slick-slide {
		.reviews__name {
			opacity: 0;
			transition: all .3s;
		}

		p {
			opacity: 0;
			transition: all .3s;
		}

		.reviews__item::before {
			opacity: 0;
			transition: all .3s;
		}
	}

	.slick-current {
		.reviews__name {
			opacity: 1;
		}

		p {
			opacity: 1;
		}

		.reviews__item::before {
			opacity: 1;
		} 
	}
}

.reviews__item {
	position: relative;
	display: block;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	width: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 60px;
	padding-bottom: 90px;
	max-width: 1200px;
	margin: 0 auto;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/quotes.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 51px;
		height: 37px;
		top: -11px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.reviews__item-wrap {
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
}

// .reviews__slider-wrap {
// 	position: relative;
// }

// .reviews__slider-btns {
// 	position: absolute;
// 	display: flex;
// 	justify-content: space-between;
// 	top: 169px;
// 	left: 50%;
// 	width: 80%;
// 	transform: translate(-50%, 0);
// }

// .reviews__slider-btn {
// 	background-color: transparent;
// }

.reviews__name {
	display: block;
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	padding-bottom: 14px;
}

.partners {
	overflow: hidden;
	padding-bottom: 75px;
}

.partners__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -34px;
	margin-right: -34px;
}

.partners__item-wrap {
	flex: 0 0 20%;
	max-width: 20%;
	padding-left: 34px;
	padding-right: 34px;
	align-self: center;
	margin-bottom: 20px;
}

.partners__item {
	max-width: 175px;
	text-align: center;
	margin: 0 auto;

	img {
		margin: 0 auto;
	}
}

.contact-form {
	padding-bottom: 110px;
}

.contact-form__description {
	display: block;
	text-align: center;
	max-width: 883px;
	width: 100%;
	margin: 0 auto;
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	padding-top: 28px;
	padding-bottom: 36px;

	span {
		color: #BC0022;
	}

	a {
		color: #BC0022;
	}
}

.main-form {
	position: relative;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	padding: 66px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/contact-mask.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 283px;
		height: 168px;
		bottom: -31px;
    	left: -31px;
		z-index: -1;
		pointer-events: none;
	}
}

.main-form__fields {
	display: flex;
	justify-content: space-between;
}

.main-form__field {
	margin-right: 30px;
	max-width: 470px;
	width: 100%;
	margin-bottom: 30px;

	&:last-of-type {
		margin-right: 0;
	}

	input {
		width: 100%;
		height: 70px;
		padding-left: 30px;
		padding-right: 30px;
		border: 1px solid #D8D8D8;
		background-color: #F8F9FA;
		font-size: 22px;
		line-height: 27px;
		color: #000;
		font-weight: 500;

		&::placeholder {
			color: #C4C4C4;
			opacity: 1;
		}
	}

	textarea {
		width: 100%;
		height: 100px;
		padding-left: 30px;
		padding-right: 30px;
		border: 1px solid #D8D8D8;
		background-color: #F8F9FA;
		font-size: 22px;
		line-height: 27px;
		color: #000;
		font-weight: 500;
		resize: none;
		outline: none;
		padding-top: 18px;

		&::placeholder {
			display: flex;
			color: #C4C4C4;
			opacity: 1;
		}
	}
}

.main-form__field--full {
	max-width: none;
}

.main-form__checkbox label {
	display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #000;
  cursor: pointer;
  padding-left: 71px;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #BC0022;
    left: 0;
    top: -3px;
  }
}

.main-form__checkbox input[type=checkbox]:checked ~ label::after {
 	content: "";
 	position: absolute;
 	background-image: url("../img/check.svg");
 	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
 	width: 23px;
 	height: 17px;
 	top: 6px;
    left: 6px;
}

input[type=checkbox] {
  	display: block;
  	opacity: 0;
  	pointer-events: none;
  	width: 0;
  	height: 0;
}

.btn-main {
	background-color: #BC0022;

	&:hover {
		background-color: #2E323A;
	}
}

.footer__top {
	background-color: #2E323A;
	padding-top: 35px;
	padding-bottom: 26px;

	.header__info {
		margin: 0;
	}

	.header__info-item {
		margin-right: 36px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.footer__top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo-wrap {
	display: flex;
	align-items: flex-start;

	p {
		max-width: 197px;
		width: 100%;
		font-weight: 300;
		font-size: 18px;
		line-height: 130%;
		color: #fff;
	}
}

.footer__logo {
	display: block;
	margin-right: 30px;
}

.footer__bottom {
	background-color: #21242C;
	padding-top: 32px;
	padding-bottom: 32px;

	p {
		position: relative;
		// padding-left: 34px;
		padding-left: 0 !important;
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		color: rgba(255, 255, 255, 0.5);
		// 
		margin-bottom: 0 !important;

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 4px;
		// 	top: 50%;
		// 	transform: translate(0, -50%);
		// 	left: 0;
		// 	height: 85%;
		// 	background-color: #BC0022;
		// }

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.burger-content {
	display: none;
}

.btn-order-mobile {
	display: none;
}

.reviews__slider-wrap{
	position: relative;
}

.reviews__slider-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(42% - -100px);
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 0;
	top: 50%;
}

.reviews__slider-btn {
	background-color: transparent;
	transition: all .3s;

	&:hover {
		opacity: 0.7;
	}
}

.inner-title {
	padding-top: 55px;
}

.inner-title__content {
	display: flex;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 26px;
	padding-bottom: 24px;
}

.inner-title__title {
	position: relative;
	font-weight: 800;
	font-size: 44px;
	line-height: 100%;
	padding-left: 30px;
}

.about-info {
	padding-top: 79px;
	padding-bottom: 90px;
}

.about-info__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.about-info__img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	width: 100%;
	height: 438px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 75px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

	&::before {
		content: "";
		position: absolute;
		background-image: url('../img/about-mask.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 317px;
		height: 391px;
		right: -31px;
		top: -31px;
		z-index: -1;
	}
}

.about-info__text {
	max-width: 668px;
	width: 100%;

	.main-title {
		padding-bottom: 29px;
	}

	p {
		padding-bottom: 30px;

		&:last-of-type {
			padding-bottom: 0;
		}
	}
}

.about-benefits {
	padding-bottom: 90px;
}

.items-list {
	position: relative;
	max-width: none;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
	width: auto;

	&::before {
		content: "";
    	position: absolute;
    	top: auto;
    	bottom: auto;
    	background-image: url('../img/sheme-mask.svg');
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center;
    	width: 214px;
    	height: 104px;
    	left: -19px;
    	bottom: -29px;
    	z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url('../img/sheme-mask.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 214px;
		height: 104px;
		right: -19px;
		top: -31px;
		z-index: -1;
	}

	.items-list__item-wrap {
		flex: 0 0 25%;
		max-width: 25%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.why-we__item {
		width: 100%;
		height: 100%;
		margin-bottom: 0;
	}
}

.proposal {
	padding-bottom: 90px;
}

.proposal__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.proposal__text {
	max-width: 670px;
	width: 100%;
	margin-right: 35px;

	.main-title__description {
		padding-bottom: 41px;
	}
}

.main-title__wrap--left {
	text-align: left;

	&::before {
		width: 100%;
		left: 0;
		transform: translate(0, 0);
	}

	&::after {
		left: 0;
		transform: translate(0, 0);
	}
}

.main-title__description--left {
	text-align: left;
}

.btn-main--left {
	margin-left: 0;
}

.proposal__img {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 400px;
	width: 100%;
	height: 380px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

	&::before {
		content: "";
		position: absolute;
		background-image: url('../img/about-mask.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 317px;
		height: 391px;
		left: -31px;
		bottom: -31px;
		z-index: -1;
	}
}

.main-title__description--full {
	max-width: none;
}

.main-title__wrap--full::before {
	max-width: none;
}

.vacancy {
	padding-bottom: 58px;
}

.vacancy__list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 36px;
	margin-left: -15px;
	margin-right: -15px;
}

.vacancy__item-wrap {
	flex: 0 0 33.333%;
	max-width: 33.333%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.vacancy__item {
	display: block;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 28px;
	padding-bottom: 25px;
	height: 100%;
}

.vacancy__item-title {
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	padding-bottom: 8px;
}

.vacancy__item-img {
	min-height: 54px;
	margin-bottom: 9px;
}

.partners-inner {
	padding-bottom: 58px;
}

.search-content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.search-content__form {
	display: flex;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	padding-left: 27px;
	padding-right: 27px;
	padding-bottom: 25px;
	padding-top: 25px;

	.main-form__field  {
		margin-bottom: 0 !important;
	}

	.btn-main {
		position: relative;
		max-width: 175px;
		font-weight: 500;
		font-size: 22px;
		padding-left: 30px;

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/lupa.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 24px;
			height: 24px;
			top: 50%;
			left: 38px;
			transform: translate(0, -50%);
		}
	}
}

.catalog {
	padding-bottom: 33px;
}

.catalog__title {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	text-align: center;
	padding-top: 51px;
	padding-bottom: 47px;
	margin-bottom: 33px;


	.product__item-title {
		text-align: center !important;
		max-width: none !important;
		position: static;
		transform: translate(0, 0);
	}
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 10px;
}

.catalog__item-wrap {
	flex: 0 0 25%;
	max-width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.catalog__item {
	position: relative;
	display: block;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: all .3s;
	border-bottom: 4px solid #fff;
	color: #1A1A1A;
	padding-bottom: 31px;
	height: 100%;

	&:hover {
		border-bottom: 4px solid #BC0022;

		&::before {
			opacity: 1;
		}
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		border: 17px solid transparent; 
		border-bottom: 14px solid #BC0022;
		opacity: 0;
		transition: all .3s;
	}
}

.catalog__item-name {
	display: block;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
}

.catalog__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 190px;
	margin-bottom: 16px;

	img {
		margin: 0 auto;
		max-height: 190px;
	}
}

.single-page {
	padding-top: 61px;
	padding-bottom: 20px;

	h5 {
		font-size: 20px;
		line-height: 150%;
		font-weight: 700;
		padding-bottom: 8px;
	}
}

.single-page__goods {
	padding-top: 37px;
}

.single-page__goods {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 34px;
	border-bottom: 4px solid #D8D8D8;
	margin-bottom: 26px;
}

.single-page__goods-img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	width: 100%;
	height: 327px;
	margin-right: 35px;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

	img {
		max-height: 270px;
	}
}

.single-page__goods-text {
	max-width: 602px;
	width: 100%;

	p {
		padding-bottom: 30px;
	}
}

.single-page h4 {
	display: block;
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	color: #000;
	padding-bottom: 15px;
}

.single-page__content {
	border-bottom: 4px solid #D8D8D8;
	margin-bottom: 40px;

	ul {
		padding-bottom: 44px;

		li {
			position: relative;
			padding-left: 33px;
			font-weight: 300;
			font-size: 20px;
			line-height: 200%;

			&::before {
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				background-color: #BC0022;
				left: 0;
				top: 15px;
				border-radius: 50%;
			}
		}
	}

	p {
		padding-bottom: 43px;
	}
}

.single-page__table-wrap {
	margin-top: 5px;

	table {
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
		margin-bottom: 40px;

		th {
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 24px;
			line-height: 29px;
			font-weight: 700;
			color: #fff;
			background-color: #2E323A;
			padding-top: 40px;
			padding-bottom: 40px;

			&::before {
				content: "";
				position: absolute;
				width: 2px;
				height: 58px;
				background-color: #BC0022;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);

			}

			&:last-child {
				width: 219px;

				&::before {
					display: none;
				}
			}

			&:nth-child(1) {
				width: 220px;
			} 

			&:nth-child(2) {
				width: 194px;
			}

			&:nth-child(3) {
				width: 169px;
			}

			&:nth-child(4) {
				width: 169px;
			}

			&:nth-child(5) {
				width: 194px;
			}

			&:nth-child(6) {
				width: 222px;
			}
		}

		tr {
			background-color: #fff;
		}

		tr:nth-child(odd) {
			background-color: #F8F9FA;
		}

		td {
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			font-weight: 500;
			font-size: 22px;
			line-height: 27px;
			color: #1A1A1A;
			text-align: center;
			padding-top: 27px;
			padding-bottom: 27px;

			&::before {
				content: "";
				position: absolute;
				width: 2px;
				height: 100%;
				background-color: #E4E4E4;
				right: 0;
				top: 0;

			}

			&:last-child::before {
				display: none;
			}
		}
	}
}

.service-inner {
	padding-bottom: 40px;
	padding-top: 38px;

	.delivery__list .product__item {
		height: 280px;

		&::before {
			display: none;
		}
	}

	.product__item:hover .product__item-title {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.product__item-nav {
		position: static;
		transform: translate(0, 0);
	}

	.delivery__list {
		padding-bottom: 36px;
	}

	.single-page__table-wrap {
		margin-top: 40px;
	}

	.single-page__table-wrap table {
		
		th {
			width: 25%;
			padding-top: 26px;
			padding-bottom: 26px;
		}

		td {
			width: 25%;
			padding-top: 41px;
			padding-bottom: 41px;
		}
	}
}

.product__item-service-list {
	background-color: #fff;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 16px;
	padding-bottom: 21px;
}

.product__item-service-item {
	font-size: 22px;
	line-height: 250%;
	font-weight: 700;
	color: #1A1A1A;
	border-bottom: 1px solid rgba(26,26,26,0.3);

	&:last-child {
		border-bottom: none;
	}
}

.service__product-item {
	display: block;
	width: 100%;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.schema {
	padding-top: 38px;
	padding-bottom: 34px;
}

.schema__list {
	position: relative;
	padding-top: 39px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/schema-mask.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 233px;
		height: 937px;
		top: 104px;
		left: -33px;
	}
}

.schema__item {
	display: flex;
	align-items: center;
	padding-bottom: 56px;
}

.schema__item-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 168px;
	max-width: 168px;
	height: 168px;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	margin-right: 70px;
}

.schema__item-title {
	display: block;
	font-size: 26px;
	line-height: 32px;
	color: #000;
	padding-bottom: 15px;
}

.schema-partners {
	padding-bottom: 121px;
}

.schema-partners__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 50px;

	&::before {
		content: "";
		position: absolute;
		background-image: url('../img/about-mask.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 317px;
		height: 295px;
		left: -17px;
		bottom: -48px;
		z-index: -1;
	}

	&:after {
		content: "";
		position: absolute;
		background-image: url('../img/about-mask.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 317px;
		height: 295px;
		right: -17px;
		top: 6px;
		z-index: -1;
	}
}

.schema-partners__item-wrap {
	flex: 0 0 50%;
	max-width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}

.schema-partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 55px;
	padding-bottom: 5px;
}

.schema-partners__item-img {
	width: calc(50% - 15px);
	margin: 0 auto;
	margin-bottom: 40px;

	img {
		margin: 0 auto;
	}
}

.faq {
	padding-bottom: 75px;
}

.faq__list {
	padding-top: 50px;
}

.faq__item {
	background-color: #fff;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
	padding-left: 69px;
	padding-right: 69px;
	margin-bottom: 25px;
}

.faq__item-title-content {
	position: relative;
	cursor: pointer;
	padding-top: 41px;
	padding-bottom: 37px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/tab-chevron.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 37px;
		height: 37px;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		transition: all .5s;
	}

	&.active {

		&::before {
			transform: translate(0, -50%) rotate(180deg);
		}
	}
}

.faq__item-title {
	position: relative;
	display: block;
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	padding-right: 70px;
}

.faq__item-tab {
	display: none;
	border-top: 3px solid #D8D8D8;

	.main-list {
		padding-top: 33px;
		padding-bottom: 40px;
	}
}

.main-list {

	li {
		position: relative;
		font-size: 20px;
		line-height: 150%;
		font-weight: 300;
		padding-bottom: 25px;
		padding-left: 30px;

		&:last-child {
			padding-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			background-color: #BC0022;
			border-radius: 50%;
			left: 0;
			top: 10px;
		}
	}
}

.contacts-inner {
	padding-top: 39px;
	padding-bottom: 63px;
}

.contacts-inner__content {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.contacts-inner__map-wrap {
	max-width: 735px;
	width: 100%;
	height: 599px;
}

.contacts-inner__info {
	max-width: 435px;
	width: 100%;
	padding-left: 34px;
	padding-right: 34px;
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 29px;
}

.contacts-inner__item {
	padding-bottom: 15px;

	&:last-child {
		padding-bottom: 0;
	}

	p a {
		color: #000;
	}
}

.contacts-inner__title-content {
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}

.contacts-inner__title {
	display: block;
	font-size: 20px;
	line-height: 150%;
	font-weight: 700;
}

.contacts-inner__item--mail a {
	border-bottom: 1px solid #000;
	font-weight: 400;
}

.contacts-inner__item--mail p {
	padding-bottom: 10px;

	&:last-child {
		padding-bottom: 0;
	}
}

.contacts-inner__img {
	min-width: 19px;
	margin-right: 11px;
}

.popup {
	display: none;
	max-width: 900px;
	width: 100%;
	padding: 30px;
}

.main-title__wrap {
	margin-bottom: 40px;
}

#map-1 {
	width: 100%;
	height: 100%;
}

[class*="ymaps-2"][class*="-ground-pane"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter:grayscale(100%);
}

@import "media-desktop";
@import "media-mobile";